
<p>
The radical SAM superfamily (RSS) is arguably the largest and most functionally
diverse enzyme superfamily.  Many functions (and intriguing reaction
mechanisms) have been discovered; many more remain to be discovered!
</p>

<p>
RadicalSAM.org is designed to leverage "top-down" discovery of function using
the EFI’s genomic enzymology web tools.  The sequence similarity network (SSN)
for the RSS is too large to be analyzed with Cytoscape and the RAM available on
most computers so has been inaccessible to RSS community.  
</p>

<p>
We generated the SSN for the entire RSS using a computer with 1.5TB RAM and
segregated it into clusters for 1) the 20 subgroups curated by the
Structure-Function Linkage Database (SFLD) and 2) many additional subgroups not
curated by the SFLD.  
</p>

<p>
For each subgroup, RadicalSAM.org provides:
</p>

<ol>
    <li>The SSN, multiple sequence alignment (MSA), WebLogo, hidden Markov model (HMM), length histogram, taxonomic distribution, SwissProt annotations, and number and locations of conserved Cys residues. </li>
    <li>Genome neighborhood diagrams (GNDs) for bacterial, archaeal, and fungal members that provide metabolic pathway context for inference of functions.</li>
    <li>UniProt, UniRef90, and UniRef50 IDs and FASTA sequences that can be used with EFI-EST, EFI-GNT, and EFI-CGFP for user-specific applications.   </li>
    <li>For functionally diverse subgroups, the ability to "walk" through a series of SSNs generated at increasing alignment scores ("dicing").  The progeny (walking forward) and progenitors of a cluster (walking backward) can be identified, facilitating the discovery of related functions and/or substrate specificities.</li>
</ol>

<p>
This version of RadicalSAM.org uses sequences in the UniProt Release 2024_01
and InterPro Release 98 databases (January 24, 2024).   The dataset includes
857,767 total sequences ("complete" and fragments), 800,748 "complete
sequences, 793,039 with &ge;140 residues.  "Dicing" is provided for 23
functionally diverse subgroups.
</p>

<p>
The previous version of RadicalSAM.org included sequences in UniProt Release
2020_05 and InterPro Release 82 databases (October 7, 2020).  That dataset
included 620,386 "complete" sequences, 616,009 with &ge;140 residues.   "Dicing"
was provided for 4 functionally diverse subgroups.
</p>

<div class="update-message mb-4 p-2 text-center">
    <p style="font-size:1.2em">Updated with sequences from the UniProt 2024_01 and InterPro 98 databases (January 24, 2024) !!</p>

    <p>
    RadicalSAM.org is supported by a Research Resource from the National
    Institute of General Medical Sciences (R24GM1411196-03). Please cite your
    use of RadicalSAM.org:
    </p>

    <p style="margin-left: 50px;">
    Nils Oberg, Timothy W. Precord, Douglas A. Mitchell, and John A. Gerlt, RadicalSAM.org: A Resource to Interpret Sequence-Function Space and Discover New Radical SAM Enzyme Chemistry, ACS Bio &amp; Med Chem 2021 <a href="https://doi.org/10.1021/acsbiomedchemau.1c00048">https://doi.org/10.1021/acsbiomedchemau.1c00048</a>
    </p>
</div>

