<main role="main">
	<div class="container">
		<h1 class="text-center">About</h1>
	</div>

	<div class="container">
		<p>/templates/custom/about.html.twig is not setup.  Please copy /templates/default/about.html.twig to /templates/custom/about.html.twig and edit it.</p>
	</div>
</main>
