
	<main role="main">
		<div class="container">
			<h1 class="text-center">Contact</h1>
		</div>

		<div class="container">
			<p>
				Feedback, questions, or requests can be submitted to the team below.
			</p>
			<div class="mt-5">
				<div class="w-auto mt-5">
					<div>
						<textarea rows="6" cols="60"></textarea>
					</div>
					<div class="mt-3">
						<button type="button" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</main>


