<footer class="container">
                <hr class="w-25" />
                <div class="text-center">
                        {{ title }} <span class="pl-4"></span><span>Footer not set. Copy templates/default/footer.html.twig to templates/custom/footer.html.twig</span>
                </div>
</footer>


