<?php

define("__TITLE__","Superfamily");

define("__HMMSCAN_LEGACY__",__DIR__."/../bin/hmmscan");
define("__HMMSCAN__",__DIR__."/../bin/hmmscan_multi_wrap.sh");
define("__HMMSCAN_ENV__","source /TODO_SHELL_SCRIPT");

define("__TEMP_DIR__","");
define("__SUBMIT_EMAIL__","");

define("__DATA_VERSION_PREFIX__","rsam");
define("__DATA_BASE_DIR__","");
define("__DATA_VERSION_FILE__","versions.txt");
define("__DATA_DB_FILE_NAME__","data.sqlite");
define("__GND_KEY_FILE_NAME__","gnds/gnd.key");
define("__DATABASE_TYPE__","hybrid");

define("__DEFAULT_VERSION__","3.0");
define("__JS_VERSION__","1");
define("__SUPERFAMILY_NAME__","Superfamily");
define("__SUBGROUP_TITLE_PREFIX__","");

define("__HMM_DB_DIR_NAME__","hmm");
define("__DEFAULT_HMM_DB__","all.hmm");
define("__DEFAULT_MAX_RESULTS__",3);

define("__SMTP_HOST__","");
define("__SMTP_PORT__","25");
define("__SMTP_USER__","");
define("__SMTP_PASSWORD__","");
define("__FROM_EMAIL__","");
define("__TO_EMAIL__","");

define("__DATABASE_TYPE__","mysql");
define("__MYSQL_HOST__","localhost");
define("__MYSQL_DATABASE__","");
define("__MYSQL_USER__","");
define("__MYSQL_PASSWORD__","");

//define("__ENABLE_DEBUG__",true);

