<h1 class="text-center">Exploring the Radical SAM Superfamily</h1>
The SSN for the RSS was generated and segregated into five megaclusters (containing &gt;1 SFLD subgroup) and five clusters (1 SFLD
                    subgroup).  These are shown in the image.   The megaclusters then were separately segregated to obtain their component SFLD
                    subgroups as well as uncharacterized subgroups.  The details for this segregation are provided in the Subgroups tab on the
                    RadicalSAM.org home page.

