{% extends "base.html.twig" %}
{% set page_title = 'About' %}
{% set page_active = 'about' %}

{% block content %}
    <div class="container">
        <h4>Principal Investigators</h4>
        <p>
        John A. Gerlt, j-gerlt &lt;NOSPAM&gt; illinois.edu
        <br><br>
        Gutgsell Chair and
        Professor of Biochemistry, Chemistry, and Biophysics
        <br>
        Institute for Genomic Biology
        University of Illinois
        </p>
        
        <p>
        Douglas Mitchell, douglasm &lt;NOSPAM&gt; illinois.edu
        <br><br>
        Alumni Scholar and Professor of Chemistry
        <br>
        Institute for Genomic Biology
        University of Illinois
        </p>
        
        <h4>Data Sources</h4>
        UniProt Release 2020_01
        <br>
        InterPro Release 78
        
        <h4>Cite Us</h4>
        <p>To be announced.</p>
    </div>
{% endblock %}

