{% extends "base.html.twig" %}
{% set page_title = 'About' %}
{% set page_active = 'about' %}

{% block content %}
    <div class="container">
        <h4>Principal Investigators</h4>
        
        <h5>John A. Gerlt</h5>
        <p>
        j-gerlt @ illinois.edu
        </p>

        <p>
        Gutgsell Chair and
        Professor of Biochemistry, Chemistry, and Biophysics
        <br>
        Institute for Genomic Biology
        University of Illinois
        </p>
        
        <h5>Douglas Mitchell</h5>
        <p>
        douglasm @ illinois.edu
        </p>

        <p>
        Alumni Scholar and Professor of Chemistry
        <br>
        Institute for Genomic Biology
        University of Illinois
        </p>

        <h5>Nils Oberg</h5>
        <p>
        noberg @ illinois.edu
        </p>

        <p>
        Senior Research Programmer
        <br>
        Institute for Genomic Biology
        University of Illinois
        </p>
    </div>
{% endblock %}

