<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% if page_title is defined %} {{ page_title }} | {% endif %} RadicalSAM.org</title>

	<link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link href="css/custom.css?v=4" rel="stylesheet">
    <link href="css/font/css/all.css" rel="stylesheet" />
{% if extra_css is defined %}
{% for item in extra_css %}
    <link href="{{ item }}" rel="stylesheet" />
{% endfor %}
{% endif %}

</head>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://www-app.igb.illinois.edu/analytics/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '6']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


<body>
    {% include('navbar.html.twig') %}

	<div class="container">
        <h1 class="text-center">{{ page_title }}</h1>
	</div>

    {% block content %}
    {% endblock %}

    {% block tail_content %}
    {% endblock %}

    <footer class="container">
        <hr class="w-25" />
        <div class="text-center">
            radicalSAM.org <span class="pl-4"></span> Gerlt, Mitchell, and Oberg, 2021 <span class="pl-4"></span> <a href="https://efi.igb.illinois.edu">EFI</a> at <a href="https://igb.illinois.edu">Institute for Genomic Biology, University of Illinois</a>
        </div>
    </footer>
	
    <script src="vendor/components/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js"></script>
	<script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    {% if extra_js is defined %}
    {% for item in extra_js %}
    <script src="{{ item }}" type="text/javascript"></script>
    {% endfor %}
    {% endif %}

    {% block body_javascript %}
    {% endblock %}
</body>

