{% extends "base.html.twig" %}
{% set page_title = 'Contact' %}
{% set page_active = 'contact' %}

{% block content %}
        <div class="container" id="contactOk" style="margin-bottom: 500px">
            Thank you for your feedback.  We will respond to you shortly.
        </div>
{% endblock %}
