{% extends "base.html.twig" %}
{% set page_active = 'explore' %}
{% set extra_js = [
                      'js/app/progress.js?v='~js_ver,
                          'js/app/util.js?v='~js_ver,
                     'js/app/swissprot.js?v='~js_ver,
                        'js/app/uniref.js?v='~js_ver,
                    'js/app/navigation.js?v='~js_ver,
                 'js/app/data_features.js?v='~js_ver,
                      'js/app/app_meta.js?v='~js_ver,
                         'js/app/image.js?v='~js_ver,
                           'js/app/url.js?v='~js_ver,
                         'js/app/diced.js?v='~js_ver,
                      'js/app/app_data.js?v='~js_ver,
                           'js/app/app.js?v='~js_ver,
                    
                    'vendor/efiillinois/sunburst/web/js/sunburst-chart.min.js?v=1',
                    'vendor/efiillinois/sunburst/web/js/sunburst-helpers.js',
                    'vendor/efiillinois/sunburst/web/js/sunburst-taxonomy2.js?v=9',
                    'vendor/efiillinois/sunburst/web/js/progress.js',
                    'js/imageMapResizer.min.js',
                    'js/jquery.maphilight.min.js',
                    'js/jquery.lazy.min.js'
                  ] %}


{% block content %}

        <div class="container">
            <nav aria-label="breadcrumb" id="exploreBreadcrumb">
            </nav>
            <div class="container">
                <h1 class="text-center" id="familyTitle"></h1>
                <div class="fullnetwork-text" style="display: none">
                    <p>
                    </p>
                </div>
            </div>
            <div class="container" id="clusterDataOverviewContainer" style="display: none">
                <div id="dicedImageContainer" style="display: none">
                    <div id="diced_clusterParentImgContainer" style="display: none">
                        <div class="border border-dark rounded p-2 mb-2 text-center w-100">
                            <img src="img/blank.png" class="img-fluid w-50" id="diced_parentImg" />
                        </div>
                        <div class="float-right download-btn ml-5" data-toggle="tooltip" title="Download high-resolution" id="diced_downloadParentImage">PNG <i class="fas fa-download"></i></div>
                        <div class="float-right download-btn">
                            <button class="btn btn-outline-secondary btn-sm btn-tiny" id="diced_toggleParentImg"><i class="fas fa-chevron-circle-up" style="cursor: pointer" id="diced_toggleParentImgIcon"></i> <span id="diced_toggleParentImgText">Hide</span> Primary Cluster Image</button>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div id="dicedNav" class="diced-nav w-100 mt-3 form-inline "></div>
                </div>
                <div>
                    <div id="clusterNums" class="w-100 container-cluster-num pl-2 pr-2" style="display: none"></div>
                    <div id="clusterImgContainer">
                        <div class="border border-dark rounded p-2 mb-2 float-right w-100">
                            <img src="img/blank.png" class="img-fluid" id="clusterImg" />
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div>
                        <div class="float-right download-btn" data-toggle="tooltip" title="Download high-resolution" id="downloadClusterImage">PNG <i class="fas fa-download"></i></div>
                        <div class="data-available float-left" id="dataAvailable" style="display: none">
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableSp">Swiss-Prot</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableKegg">KEGG</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailablePdb">PDB</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableTigr">TIGR</button>
                            <!--<button class="btn btn-outline-secondary disabled" type="button" id="dataAvailablePubs">Pubs</button>-->
                            <!--<button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableAnno">Anno</button>-->
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableAlphafold">Alphafold</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableSunburst">Taxonomy</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableGnd" title="Genome Neighborhood Diagram">Genome Neighborhood Diagram</button>
                        </div>
                        <div style="clear:both"></div>
                        <div id="clusterSizeContainer" style="display: none">
                            <div id="clusterSize" class="cluster-size">Number of IDs: </div>
                            <div id="convRatioContainer" class="cluster-size" style="display: none">
                                Convergence Ratio: <b><span id="convRatio" style="margin-right: 40px"></span></b>
                                SSN Convergence Ratio: <b><span id="ssnConvRatio"></span></b>
                            </div>
                            <div id="consensusResidueContainer" style="display: none">
                                <div class="cluster-size float-left">Conserved Cys Residues: </div>
                                <div id="consensusResidue" class="float-left ml-2"></div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="alert alert-danger" role="alert" id="loadError" style="display: none"></div>
            <div id="dicedClusterDesc" style="display: none">
                <p><span class="diced-desc-cluster-id">Cluster</span> is large and functionally diverse.
                A single alignment score threshold cannot  be used to segregate
                the SSN  into isofunctional clusters.  To solve this problem,
                a series of <span id="dicedNumDicings">#</span> SSNs was generated with increasing alignment
                scores (<span id="dicedDiceIncrements">increments</span>). As the alignment
                score increases, the clusters decrease in complexity  and size
                as they become  isofunctional.  We refer this process as
                "dicing".
                </p>
                <p>The "AS Walk-Through" function is provided so that the
                user can 1) “walk” forward from any cluster in any of the
                "diced" SSNs to its progeny clusters in the SSN with the next
                alignment score or 2) "walk" backward to its progenitor cluster
                in in the SSN with the previous alignment score.
                </p>
                <p>The Explore
                pages for the clusters provide several types of information
                for determining  whether  the cluster is isofunctional:
                convergence ratio of the  UniProt  IDs, number  of conserved
                Cys residues, and genome  neighborhood  diagrams (GNDs).
                </p>
                <p>
                <div class="btn btn-primary"><a id="dicedListLink" href="">Access the series of diced SSNs.</a></div>
                </p>
                <p>
                Information  about <span class="diced-desc-cluster-id">Cluster</span> is provided  below.
                </p>
            </div>
        </div>

        <div class="container">
            <!-- // THIS IS WHERE THE TABLE THAT SHOWS THE LIST OF SUB-CLUSTERS GOES ////////////// -->
            <div id="subgroupTable" style="display: none">
                <h3 class="explore-heading">Sub-clusters (Segregated Into Higher Alignment Scores)</h3>
            </div>

            <!-- // HISTOGRAM, WEB LOGO, AND DOWNLOADS //////////////////////////////////////////// -->
            <div id="displayFeatures" style="display: none">
                <div class="row">
                    <div id="weblogoContainer" class="col" style="display: none">
                        <h5>WebLogo</h5>
                        <div class="float-right download-btn" data-toggle="tooltip" title="Download high-resolution" id="downloadWeblogoImage">PNG <i class="fas fa-download"></i></div>
                        <div id="weblogo"></div>
                    </div>
                    <div class="col">
                        <div id="lengthHistogramContainer" style="display: none">
                        </div>
                        <div id="downloadContainer" style="display: none">
                            <h3 class="explore-heading">Downloads</h3>
                            <div id="downloads"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- // METADATA, SUCH AS ANNOTATIONS AND PUBLICATIONS //////////////////////////////// -->
            <div id="metadataContainer" style="display: none">
                <div id="otherAnnoContainer">
                    <h3>Public Annotation Databases</h3>
                </div>

                <div id="commAnno">
                    <h3>Community Annotations</h3>
                    <div id="noCommAnno">
                        <p>
                        No community annotations are available for this cluster.  
                        </p>
                        <p>
                        We are accepting <a href="submit.php" id="submitAnnoLink">submissions for community-driven annotations</a>.
                        </p>
                    </div>
                    <div id="commAnnoTable"></div>
                </div>

                <div id="publicationsContainer">
                    <h3>Publications</h3>
                    <div id="publications">
                        No publications are available for this cluster.  Please contact us to contribute a
                        citation to this page.
                    </div>
                </div>

                <div id="familyListContainer">
                    <div id="tigrfamContainer">
                        <h3>TIGR Families</h3>
                        <div id="tigrFams"></div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->

        <!-- // DISPLAY THE VARIOUS DICINGS ///////////////////////////////////////////////////// -->
         <div class="container" id="dicedAscoreListContainer" style="display: none">
            <div class="container">
                <div class="row border border-dark rounded p-2">
                    <ul class="nav nav-pills mb-3 border-bottom border-medium" id="dicedAscoreTabList" role="tablist">
                    </ul>
                    <div class="tab-content ml-2" id="dicedAscoreTabs">
                    </div>
                </div>
                <div id="dicedAscoreListClusterSize" class="cluster-size">Number of IDs: </div>
            </div>

            <div>
                <h3 class="explore-heading">Additional Alignment Score Segregations</h3>
                <div id="dicedAscoreListOverview">
                    <p>
                    The clusters in the "diced" SSNs for <span class="diced-desc-cluster-id">Megacluster</span>
                    can be viewed by clicking the alignment scores (a 
                    cluster contains &ge;3 UniRef90 IDs/nodes).  As the alignment score increases, the clusters decrease in 
                    size and complexity.  Also, as the alignment score increases, the number of clusters initially 
                    increases as large clusters segregate and then decreases as clusters "dissociate" into individual 
                    nodes.  The images do not include clusters with &le;2 nodes or singletons because Explore pages are not 
                    provided for these.
                    </p>
                    
                    <p>
                    <a href="" id="dicedDescNextAsLink">This link</a>
                    provides access to the Explore page for <span class="diced-desc-cluster-id">Megacluster</span>-1
                    in the SSN generated 
                    with an alignment score of <span class="diced-desc-default-as">#</span>.
                    On that (and any) Explore page, any cluster in the SSN can be selected; 
                    also, SSNs generated with other alignment scores can be selected.
                    </p>

                    <p>
                    Or, select an alignment score for a "diced" cluster in the
                    image and click on its image to access its
                    <span class="diced-desc-cluster-id">Megacluster</span>-1 Explore page.  
                    
                    <p>
                    Each Explore page includes the "AS Walk-Through" button above the cluster image. Clicking the button 
                    opens a window that identifies 1) the progenitor cluster in the previous SSN ("walk backward") and 2) 
                    for the progeny clusters in the next SSN ("walk forward"). The cluster name is a link to its Explore 
                    page. These connections may allow the discovery of divergent functions that share mechanistic 
                    attributes. 
                    </p>
                    
                    <p>
                    The <a href="search.php" target="_blank">Search</a>
                    functions enables the user to identify the clusters in the "diced" SSNs that contain a 
                    specified UniProt ID or homologues of a specified sequence.  
                    </p>
                    
                    <p>
                    When <a href="search.php" target="_blank">Find by UniProt ID</a>
                    is used, the Results page provides a list of clusters in the "diced" SSNs that 
                    contain the UniProt ID along with the number of UniProt IDs in the cluster, the number of cluster 
                    nodes, and the UniProt ID convergence ratio (CR; described on the <b>Explore Pages</b> tab).  
                    </p>
                    
                    <p>
                    As the alignment score continues to increase, the ID may may be located in a cluster with &le;2 nodes or a 
                    singleton.  No results will be returned for these alignment scores.
                    </p>
                    
                    <p>
                    When <a href="search.php" target="_blank">Find by Sequence</a>
                    is used, the Results page provides a list of the three clusters at each alignment 
                    score with the smallest e-values along with the number of UniProt IDs in the cluster, the number of 
                    cluster nodes, and the UniProt ID convergence ratio. 
                    </p>
                    
                    <p>
                    As the alignment score increases, the "best" e-value typically decreases as the cluster becomes 
                    orthologous/isofunctional as nonorthologous sequences are segregated.   As the alignment score 
                    continues to increase, the "best" cluster can segregates into a cluster with &le;2 nodes or a singleton;  
                    the Search results will identify clusters but the e-values likely will be larger than those identified 
                    for the clusters with lower alignment scores.
                    </p>
                </div>
                <div id="dicedAscoreListImageDesc" style="display: none">
                    <p>
                    The SSN image was generated with the Color SSN function of the "Cluster Analysis" utility.  
                    The clusters are numbered and assigned a unique color in order of decreasing number of 
                    UniProt IDs.  The Color SSNs generated with increasing alignment scores are colored 
                    independently, so clusters in different Color SSNs with the same color need not be related.
                    </p>
                </div>
            </div>
        </div> <!-- /container -->
        
        <div class="container fullnetwork-text" style="display: none">
            <p>The table provides a (mega)cluster directory for locating the SFLD subgroups:</p>

            <table class="table table-sm w-75">
                <thead>
                    <th>SFLD Subgroup</th><th>Subgroup</th><th>Color</th><th>(Mega)cluster</th>
                </thead>
                <tbody id="subgroupMapping">

                    <!--
                    <tr><td>1</td><td>7-carboxy-7-deazaguanine synthase-like </td><td>Teal</td><td>Mega-3</td></tr>
                    <tr><td>2</td><td>Coproporphyrinogen III oxidase-like </td><td>Red</td><td>Mega-2</td></tr>
                    <tr><td>3</td><td>Antiviral proteins (viperin) </td><td>-- </<td>Mega-1</td></tr>
                    <tr><td>4</td><td>Avilamycin synthase </td><td>Pink</td><td>--</td></tr>
                    <tr><td>5</td><td>B12-binding domain containing </td><td>Blue</td><td>Mega-2</td></tr>
                    <tr><td>6</td><td>BATS domain containing </td><td>Orange</td><td>Mega-4</td></tr>
                    <tr><td>7</td><td>DesII-like </td><td>Mauve</td><td>Mega-1</td></tr>
                    <tr><td>8</td><td>ELP3/YhcC </td><td>Black</td><td>Mega-2</td></tr>
                    <tr><td>9</td><td>F420, menaquinone cofactor biosynthesis  </td><td>Purple</td><td>Mega-4</td></tr>
                    <tr><td>10</td><td>FeMo-cofactor biosynthesis protein </td><td>Mint green</td><td>Mega-1</td></tr>
                    <tr><td>11</td><td>Lipoyl synthase like </td><td>Yellow</td><td>Cluster-8</td></tr>
                    <tr><td>12</td><td>Methylthiotransferase </td><td>Verdun green</td><td>Mega-2</td></tr>
                    <tr><td>13</td><td>Methyltransferase Class A </td><td>Dark brown</td><td>Cluster-6</td></tr>
                    <tr><td>14</td><td>Methyltransferase Class D </td><td>Light pink</td><td>Mega-1</td></tr>
                    <tr><td>15</td><td>Organic radical activating enzymes </td><td>Cyan</td><td>Mega-3</td></tr>
                    <tr><td>16</td><td>PLP-dependent </td><td>Dark green</td><td>Cluster-7</td></tr>
                    <tr><td>17</td><td>SPASM/twitch domain containing </td><td>Magenta</td><td>Mega-1</td></tr>
                    <tr><td>18</td><td>Spectinomycin biosynthesis </td><td>White</td><td>--</td></tr>
                    <tr><td>19</td><td>Spore photoproduct lyase </td><td>Green</td><td>Mega-5</td></tr>
                    <tr><td>20</td><td>tRNA wybutosine-synthesizing </td><td>Brown</td><td>Cluster-9</td></tr>
                    <tr><td></td><td>Protein MJ0683-like </td><td>Electric lime</td><td>Mega-5</td></tr>
                    <tr><td></td><td>Uncharacterized protein family UPF0313 </td><td>Olive</td><td>Cluster-10</td></tr>
                    <tr><td></td><td>DUF5131 </td><td>Light purple</td><td>Mega-5</td></tr>
                    <tr><td></td><td>3',8-Cyclase/Mo cofactor synthesis </td><td>Dodger blue</td><td>Mega-1</td></tr>
                    -->
                </tbody>
            </table>
        </div>

{% endblock %}

{% block tail_content %}
    <div id="progressLoader" class="progress-loader" style="display: none">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div id="keggIdModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">KEGG IDs in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="keggIdList" class="modal-colwrap-3">
                    </div>
                    <textarea id="keggIdListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-clipboard-target="keggIdListClip" data-id="keggIdListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="clusterAsNavModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alignment Score Walk-Through<span id="clusterAsNavTitleId"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="clusterAsNavList" class="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="tigrListModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">TIGR Families in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="tigrList">
                    </div>
                    <textarea id="tigrListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-clipboard-target="tigrListClip" data-id="tigrListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="spModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">SwissProt Functions in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Click the SwissProt function to see associated UniProt IDs.</p>
                    <div id="spFunctions">
                    </div>
                    <textarea id="spModalIdListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-id="spModalIdListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="pdbModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">PDB Entries in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="pdbIdList">
                    </div>
                    <textarea id="pdbIdListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-id="pdbIdListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alphafoldModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alphafold IDs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="alphafoldIdList" class="modal-colwrap-3">
                    </div>
                    <textarea id="alphafoldIdListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-id="alphafoldIdListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="sunburstModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Species in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="sunburst-container" style="padding: 20px"></div>
            </div>
        </div>
    </div>
    <div id="sunburstDownloadModal" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 200px">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 style="display: none">Preparing Download</h5>
                    <button type="button" class="btn btn-primary" id="sbDownloadBtn"><a href="" id="sbDownloadLink">Download List</a></button><br><br>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div id="downloadProgressLoader" class="progress-loader progress-loader-sm" style="display: none">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        $(document).ready(function () {
            var progress = new Progress($("#progressLoader"));
            progress.start();

            var appInfo = {version: "{{data_version}}", versionName: "{{version_name}}", gndKey: "{{gnd_key}}", subgroupTitle: "{{subgroup_title}}"};
            initApp(appInfo);
            $('.lazy').Lazy();
    
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}

