{% extends "base.html.twig" %}
{% set page_title = 'Explore' %}
{% set page_active = 'explore' %}
{% set extra_js = [
                      'js/app/progress.js?v=1',
                          'js/app/util.js?v=1',
                     'js/app/swissprot.js?v=1',
                        'js/app/uniref.js?v=1',
                      'js/app/sunburst.js?v=1',
                    'js/app/navigation.js?v=1',
                 'js/app/data_features.js?v=1',
                      'js/app/app_meta.js?v=1',
                         'js/app/image.js?v=1',
                           'js/app/url.js?v=1',
                         'js/app/diced.js?v=1',
                      'js/app/app_data.js?v=12',
                           'js/app/app.js?v=40',
                    'js/sunburst/sunburst-chart.min.js', 'js/sunburst/circlepack-chart.min.js', 'js/sunburst/sunburst_helpers.js',
                    'js/imageMapResizer.min.js', 'js/jquery.maphilight.min.js', 'js/jquery.lazy.min.js'
                  ] %}


{% block content %}

        <div class="container">
            <nav aria-label="breadcrumb" id="exploreBreadcrumb" style="display: none;">
            </nav>
            <div class="container">
                <h1 class="text-center" id="familyTitle"></h1>
            </div>
            <div class="container">
                <div id="dicedContainer" style="display: none">
                    <div id="dicedParentImg" style="display: none">
                        <div class="border border-dark rounded p-2 mb-2 text-center w-100">
                            <img src="img/blank.png" class="img-fluid w-50" id="parentImg" />
                        </div>
                        <div class="float-right download-btn ml-5" data-toggle="tooltip" title="Download high-resolution" id="downloadDicedParentImage">PNG <i class="fas fa-download"></i></div>
                        <div class="float-right download-btn">
                            <button class="btn btn-outline-secondary btn-sm btn-tiny" id="toggleParentImg"><i class="fas fa-chevron-circle-up" style="cursor: pointer" id="toggleParentImgIcon"></i> <span id="toggleParentImgText">Hide</span> Primary Cluster Image</button>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div id="dicedNav" class="diced-nav w-100 mt-3 form-inline "></div>
                </div>
                <div>
                    <div id="clusterNums" class="w-100 container-cluster-num pl-2 pr-2" style="display: none"></div>
                    <div id="clusterImgContainer">
                        <div class="border border-dark rounded p-2 mb-2 float-right w-100">
                            <img src="img/blank.png" class="img-fluid" id="clusterImg" />
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div>
                        <div class="float-right download-btn" data-toggle="tooltip" title="Download high-resolution" id="downloadClusterImage">PNG <i class="fas fa-download"></i></div>
                        <div class="data-available float-left" id="dataAvailable" style="display: none">
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableSp">Swiss-Prot</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableKegg">KEGG</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailablePdb">PDB</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableTigr">TIGR</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailablePubs">Pubs</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableAnno">Anno</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableSunburst">Taxonomy</button>
                            <button class="btn btn-outline-secondary disabled" type="button" id="dataAvailableGnd" data-toggle="tooltip" title="Genome Neighborhood Diagram">Genome Neighborhood Diagram</button>
                        </div>
                        <div style="clear:both"></div>
                        <div id="clusterSizeContainer" style="display: none">
                            <div id="clusterSize" class="cluster-size">Number of IDs: </div>
                            <div id="convRatioContainer" class="cluster-size" style="display: none">
                                Convergence Ratio: <b><span id="convRatio" style="margin-right: 40px"></span></b>
                                SSN Convergence Ratio: <b><span id="ssnConvRatio"></span></b>
                            </div>
                            <div id="consensusResidueContainer" style="display: none">
                                <div class="cluster-size float-left">Conserved Cys Residues: </div>
                                <div id="consensusResidue" class="float-left ml-2"></div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="alert alert-danger" role="alert" id="loadError" style="display: none"></div>
            <p class="text-center" id="clusterDesc">
            </p>
        </div>

        <div class="container">
            <div id="childTabs" style="display: none">
                <ul class="nav nav-tabs nav-intro-tabs" id="childTabsHdr" role="tablist">
                    <li class="nav-item"><a href="#childDownload"   id="tab-child-download" class="nav-link active" data-toggle="tab" role="tab" aria-controls="download"  aria-selected="false">Data File Download</a></li>
                    <li class="nav-item"><a href="#childLogo"       id="tab-child-logo"     class="nav-link" data-toggle="tab" role="tab" aria-controls="logo"      aria-selected="false">WebLogos</a></li>
                    <li class="nav-item" id="childConsResListItem"><a href="#childConsRes"    id="tab-child-cons-res" class="nav-link" data-toggle="tab" role="tab" aria-controls="cons-res"  aria-selected="false">Consensus Cys Residues</a></li>
                    <li class="nav-item"><a href="#childHmm"        id="tab-child-hmm"      class="nav-link" data-toggle="tab" role="tab" aria-controls="hmm"       aria-selected="false">HMMs</a></li>
                    <li class="nav-item"><a href="#childHisto"      id="tab-child-histo"    class="nav-link" data-toggle="tab" role="tab" aria-controls="histo"     aria-selected="false">Length Histograms</a></li>
                </ul>
                <div class="tab-content" id="childTabContent">
                    <div class="tab-pane fade child-tab-pane show active"  id="childDownload"  role="tabpanel" aria-labelledby="tab-child-download">
                    </div>
                    <div class="tab-pane fade child-tab-pane show"         id="childLogo"      role="tabpanel" aria-labelledby="tab-child-logo">
                    </div>
                    <div class="tab-pane fade child-tab-pane show"         id="childConsRes"   role="tabpanel" aria-labelledby="tab-child-cons-res" style="min-height: 500px">
                    </div>
                    <div class="tab-pane fade child-tab-pane show"         id="childHmm"       role="tabpanel" aria-labelledby="tab-child-hmm">
                    </div>
                    <div class="tab-pane fade child-tab-pane show"         id="childHisto"     role="tabpanel" aria-labelledby="tab-child-histo">
                    </div>
                </div>
            </div>
            <div id="subgroupTable" style="display: none">
                <h3 class="explore-heading">Sub-clusters (Segregated Into Higher Alignment Scores)</h3>
            </div>

            <!-- // HISTOGRAM, WEB LOGO, AND DOWNLOADS //////////////////////////////////////////// -->
            <div id="displayFeatures" style="display: none">
                <div class="row">
                    <div id="weblogoContainer" class="col" style="display: none">
                        <h5>WebLogo</h5>
                        <div class="float-right download-btn" data-toggle="tooltip" title="Download high-resolution" id="downloadWeblogoImage">PNG <i class="fas fa-download"></i></div>
                        <div id="weblogo"></div>
                    </div>
                    <div class="col">
                        <div id="lengthHistogramContainer" style="display: none">
                        </div>
                        <div id="downloadContainer" style="display: none">
                            <h3 class="explore-heading">Downloads</h3>
                            <div id="downloads"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- // METADATA, SUCH AS ANNOTATIONS AND PUBLICATIONS //////////////////////////////// -->
            <div id="metadataContainer" style="display: none">
                <div id="otherAnnoContainer">
                    <h3>Public Annotation Databases</h3>
                </div>

                <div id="commAnno">
                    <h3>Community Annotations</h3>
                    <div id="noCommAnno">
                        <p>
                        No community annotations are available for this cluster.  
                        </p>
                        <p>
                        We are accepting <a href="submit.html" id="submitAnnoLink">submissions for community-driven annotations</a>.
                        </p>
                    </div>
                    <div id="commAnnoTable"></div>
                </div>

                <div id="publicationsContainer">
                    <h3>Publications</h3>
                    <div id="publications">
                        No publications are available for this cluster.  Please contact us to contribute a
                        citation to this page.
                    </div>
                </div>

                <div id="familyListContainer">
                    <div id="tigrfamContainer">
                        <h3>TIGR Families</h3>
                        <div id="tigrFams"></div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->

        <!-- // DISPLAY THE VARIOUS DICINGS ///////////////////////////////////////////////////// -->
        <div class="container" style="display: none">
            <div class="container">
                <div id="dicedIntroContainer" class="row border border-dark rounded p-2" style="display: none">
                    <ul class="nav nav-pills mb-3 border-bottom border-medium" id="dicedAscoreTabList" role="tablist">
                    </ul>
                    <div class="tab-content ml-2" id="dicedAscoreTabs">
                    </div>
                </div>
            </div>

            <div id="altSsn">
                <h3 class="explore-heading">Additional Alignment Score Segregations</h3>
                <div id="altSsnPrimary" style="display: none">
                    <p>
                    This page displays the UniRef50 ID SSN of
                    <span class="alt-cluster-id">Megacluster</span>,
                    <span class="alt-cluster-sfld">SFLD</span> 
                    generated with an alignment score of
                    <span class="alt-cluster-default-as">N</span>
                    that collects all of the sequences into a single cluster.  
                    </p>
                    
                    <p>
                    Sequence-function space in <span class="alt-cluster-id">Megacluster</span> is
                    very large and diverse, so a "top-down" analysis is not practical (segregation
                    of the SSN into isofunctional clusters by a step-wise increase in alignment
                    score).  To enable "genomic enzymology"-based discovery of new functions, we
                    precomputed Color SSNs using UniRef90 IDs at a series of alignment scores (from
                    25 to 125, in increments of 5) and provide access to each of the clusters in
                    each of the SSNs (&ge;3 nodes).  For each cluster, we provide the SSN (xgmml
                    file), WebLogo, MSA, HMM, UniRef90/UniProt ID Length Histograms, and
                    UniProt/UniRef90 sequences (IDs and FASTA files).  The Color SSNs and their
                    WebLogos, MSA, HMMs, and Length Histograms were generated with the EFI-EST
                    Cluster Analysis utility.   
                    </p>
                    
                    <p>
                    We also provide genome neighborhood diagrams (GNDs) for the UniRef90 node IDs
                    in each cluster.  The GNDs provide information about both functional
                    heterogeneity (one or several genome neighborhoods; one or more functions) and
                    possible metabolic pathways (Pfam/InterPro families of proximal genes).  Note
                    that the GNDs for the UniProt IDs in each UniRef90 node are available by
                    clicking the "+" link adjacent to each UniRef90 GND.
                    </p>
                    
                    <p>
                    In contrast to the UniRef50 IDs used to generate the SSN shown above and
                    segregate the superfamily into subgroups (see Subgroups), UniRef90 IDs are used
                    so that isofunctional clusters can be obtained by increasing the alignment
                    score (to achieve the same genome context).  The sequences in UniRef50 ID
                    clusters often are functionally heterogeneous, so isofunctional clusters (same
                    genome context) often cannot be obtained.
                    </p>
                    
                    <p>
                    On the Search page, the "Find by UniProt ID" and "Find by Sequence" functions
                    can be used to identify the cluster in each Color SSN containing an ID/sequence
                    of interest.  
                    </p>
                    
                    <p>
                    When using the "Find by UniProt ID" function, if the UniProt ID is in the
                    dataset used to calculate the SSNs, the cluster containing the UniProt ID will
                    be identified in each cluster if the cluster contains  &ge;3 nodes.  If the ID
                    is located in a cluster with 2 nodes or a singleton, the ID will not be found
                    as indicated by "ID not found".   The cluster name is a link to the page for
                    that cluster.  Find by UniProt ID provides quick access to the clusters in the
                    Color SSNs containing the ID; however, Find by Sequence likely is more useful
                    (next paragraphs).
                    </p>
                    
                    <p>
                    When using the "Find by Sequence" function, the sequence is searched against
                    the HMMs calculated for all of the clusters with &ge;3 nodes in all of the
                    Color SSNs (be patient!).  The "best" seven cluster hits (smallest e-values)
                    will be reported for each Color SSN.   When perusing these results, the
                    e-values for the Color SSNs generated with small alignment scores will be
                    "large" because these clusters likely are functionally diverse.  However, as
                    the alignment score increases, the e-value associated with the "best" hit will
                    decrease substantially when the cluster is isofunctional.  The cluster name is
                    a link to the page for that cluster.  Examination of the GNDs for the UniRef90
                    node IDs in the cluster will provide additional information about
                    functionality.
                    </p>
                    
                    <p>
                    Each cluster page provides a link to the cluster in the SSN generated with the
                    previous alignment score ("progenitor").   The page also contains the link(s)
                    to the cluster(s) in the SSN generated with the next alignment score that
                    contains the sequences in the cluster ("progeny").  These links may leverage
                    identification of clusters with related functions (assuming the progeny share
                    mechanistic attributes with the progenitor).  In favorable cases, it may be
                    possible to "walk" from one function to another, with the function of the
                    progenitor providing clues about the function of the progeny.
                    </p>
                    
                    <p>
                    <a href="" id="alt-cluster-next-as-link">Click here</a>
                    to proceed to the page for
                    <span class="alt-cluster-id">Megacluster</span>-1
                    in the Color SSN generated with an alignment score of
                    <span class="alt-cluster-next-as">N</span>.
                    On that (and any) cluster page, you can explore the clusters at the displayed 
                    alignment score and, also, choose any other alignment score.  
                    </p>
                    
                    <p>
                    Or proceed to the <a href="search.html">Search page</a> to explore sequence relationships.
                    </p>
                </div>
                <div id="altSsnSecondary" style="display: none">
                    <p>
                    The SSN image was generated with the Color SSN function of the "Cluster Analysis" utility.  
                    The clusters are numbered and assigned a unique color in order of decreasing number of 
                    UniProt IDs.  The Color SSNs generated with increasing alignment scores are colored 
                    independently, so clusters in different Color SSNs with the same color need not be related.
                    </p>
                </div>
            </div>
        </div> <!-- /container -->
{% endblock %}

{% block tail_content %}
    <div id="progressLoader" class="progress-loader" style="display: none">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div id="keggIdModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">KEGG IDs in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="keggIdList" class="modal-colwrap-3">
                    </div>
                    <textarea id="keggIdListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-clipboard-target="keggIdListClip" data-id="keggIdListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="clusterAsNavModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alignment Score Walk-Through</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="clusterAsNavList" class="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="tigrListModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">TIGR Families in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="tigrList">
                    </div>
                    <textarea id="tigrListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-clipboard-target="tigrListClip" data-id="tigrListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="spModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">SwissProt Functions in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Click the SwissProt function to see associated UniProt IDs.</p>
                    <div id="spFunctions">
                    </div>
                    <textarea id="spModalIdListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-id="spModalIdListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="pdbModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">PDB Entries in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="pdbIdList">
                    </div>
                    <textarea id="pdbIdListClip" style="display: none"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto copy-btn" data-id="pdbIdListClip">Copy <i class="far fa-copy"></i></button>
                    <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="sunburstModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Species in Cluster</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center modal-sunburst" id="sunburstChartContainer">
                    <div id="sunburstChart">
                    </div>
                    <div id="sunburstIdNums" class="cluster-size cluster-size-sm float-right">
                    </div>
                    <div style="clear: both">
                        Click on a region to zoom into that part of the taxonomic hierarchy.  Clicking on the
                        center circle will zoom out to the next highest level.
                    </div>
<!--
                    <div>
                        <canvas id="sunburstPngCanvas" width="600" height="600"></canvas>
                    </div>
-->
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <div class="p-2" data-toggle="tooltip" title="By default the full set of UniProt IDs is downloaded. By selecting this option, only the UniRef50 IDs will be downloaded.">
                            ID type: 
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sunburstIdType" id="sunburstIdTypeUniProt" value="uniprot" checked>
                                <label class="form-check-label" for="sunburstIdTypeUniProt">UniProt</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sunburstIdType" id="sunburstIdTypeUniRef90" value="uniref90">
                                <label class="form-check-label" for="sunburstIdTypeUniRef90">UniRef90</label>
                            </div>
                            <div class="form-check form-check-inline" id="sunburstIdTypeUniRef50Container">
                                <input class="form-check-input" type="radio" name="sunburstIdType" id="sunburstIdTypeUniRef50" value="uniref50">
                                <label class="form-check-label" for="sunburstIdTypeUniRef50">UniRef50</label>
                            </div>
<!--
                            <select class="form-control w-50" data-toggle="tooltip" title="By default the full set of UniProt IDs is downloaded. By selecting this option, only the UniRef50 IDs will be downloaded.">
                                <option value="uniprot" selected>UniProt (default)</option>
                                <option value="uniref50">UniRef50</option>
                                <option value="uniref90">UniRef90</option>
                            </select>
-->
                        </div>
                        <div>
                            <button type="button" class="btn btn-default btn-secondary" data-toggle="tooltip" title="Download the UniProt IDs that are visible in the sunburst diagram" id="sunburstDlIds">Prepare ID Download</button>
                            <button type="button" class="btn btn-default btn-secondary mr-auto" data-toggle="tooltip" title="Download the FASTA sequences that are visible in the sunburst diagram" id="sunburstDlFasta">Prepare FASTA Download</button>
                            <!--<button type="button" class="btn btn-default mr-auto" data-toggle="tooltip" title="Download a SVG file of the sunburst diagram" id="sunburstSvg">Download SVG</button>-->
                        </div>
                    </div>
                    <div class="mt-auto">
                        <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <div id="sunburstProgressLoader" class="progress-loader" style="display: none">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
    <div id="sunburstDownloadModal" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 200px">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 style="display: none">Preparing Download</h5>
                    <button type="button" class="btn btn-primary" id="sbDownloadBtn"><a href="" id="sbDownloadLink">Download List</a></button><br><br>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div id="downloadProgressLoader" class="progress-loader progress-loader-sm" style="display: none">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        $(document).ready(function () {
            var progress = new Progress($("#progressLoader"));
            progress.start();

            initApp("3.0", "{{gnd_key}}");
            $('.lazy').Lazy();
    
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}

