
{% set nav_items = [
    {'id': 'explore', 'page': 'explore.php', 'name': 'Explore'},
    {'id': 'search', 'page': 'search.php', 'name': 'Search'},
    {'id': 'tutorials', 'page': 'tutorials.php', 'name': 'Tutorials'},
    {'id': 'about', 'page': 'about.php', 'name': 'About'},
    {'id': 'contact', 'page': 'contact.php', 'name': 'Contact'}
] %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="index.php">{% if nav_page_title is defined %} {{ nav_page_title }} {% else %} RadicalSAM.org {% endif %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavItems" aria-controls="navbarNavItems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse w-100 order-3" id="navbarNavItems">
            <ul class="navbar-nav ml-auto">
                {% for item in nav_items %}
                    {% set active_class = '' %}
                    {% if (item.id == page_active) %}
                        {% set active_class = 'active' %}
                    {% endif %}
                <li class="nav-item"><a class="nav-link {{ active_class }}" href="{{ item.page }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>

