{% extends "base.html.twig" %}
{% set page_title = 'Search' %}
{% set page_active = 'search' %}
{% set extra_css = ['css/typeahead.css?v=3'] %}
{% set extra_js = [ 'js/typeahead.bundle.js',
                    'js/app/app_data.js?v=12',
                    'js/app/search.js?v=14',
                    'js/app/progress.js?v=1',
                    'js/app/color.js?v=1',
                  ] %}

{% block content %}

        <div class="container" id="searchUi">
            <input type="hidden" name="version" id="version" value="3.0">

            <div>
                <h3>Find by UniProt ID</h3>
                <p>
                Input a UniProt ID to identify its cluster.
                </p>

                <p>
                For all but Megacluster-1-1 (SFLD Subgroup-17, SPASM/Twitch domain),
                Megacluster-2-1 (SFLD Subgroup 5, B12-binding domain), Megacluster-2-2 (SFLD
                Subgroup 2, anaerobic coproporphyrinogen-III oxidase-like), or Cluster-7 ((SFLD
                Subgroup 16, PLP-dependent), the search opens the Explore page for the cluster
                that contains the user-specified UniProt ID. 
                </p>
                
                <p>
                For Megacluster-1-1 (SFLD Subgroup-17, SPASM/Twitch domain), Megacluster-2-1
                (SFLD Subgroup 5, B12-binding domain), Megacluster-2-2 (SFLD Subgroup 2,
                anaerobic coproporphyrinogen-III oxidase-like), or Cluster-7 ((SFLD Subgroup
                16, PLP-dependent), the search identifies the cluster (if ≥3 nodes/UniRef50
                IDs) in each “diced” SSN that contains the ID.  The number of UniProt IDs,
                number of cluster nodes, and UniProt ID convergence ratio (CR; described on the
                Subgroups tab) are provided for each identified cluster.
                </p>
                
                <p>
                In the generation of the megaclusters and clusters, some UniProt IDs for a
                singleton may be deleted. The Search will report: "ID not found". 
                </p>

                <div id="searchIdErrorMsg" style="display: none" class="m-1 p-2 mb-3 rounded alert-warning search-error"></div>
                <div class="form-group">
                    <input class="form-control w-25" type="text" name="searchId" id="searchId" />
                </div>
                <div class="form-group mb-5 mt-1"><button class="btn btn-primary btn-sm" id="searchIdBtn">Find Cluster</button></div>
            </div>

            <div>
                <h3>Find by Sequence</h3>

                <p>
                Input a sequence to find clusters that contain homologues. The sequence is used
                to query the HMMs for the clusters (≥3 UniRef IDs/nodes).  
                </p>
                
                <p>
                The results reports matches for the “top” three clusters if the e-value is
                ≤1e-10. The cluster is a link to the Explore page for the cluster.
                </p>
                
                <p>
                For Megacluster-1-1 (SFLD Subgroup-17, SPASM/Twitch domain), Megacluster-2-1
                (SFLD Subgroup 5, B12-binding domain), Megacluster-2-2 (SFLD Subgroup 2,
                anaerobic coproporphyrinogen-III oxidase-like), or Cluster-7 ((SFLD Subgroup
                16, PLP-dependent), the second section reports matches for clusters in the
                “diced” SSNs; the clusters with the three smallest e-values are listed. The
                number of UniProt IDs, number of cluster nodes, and UniProt ID convergence
                ratio (CR; described on the Subgroups tab) are provided for each identified
                cluster.  
                </p>
                
                <p>
                The “Exploring Subgroups” subtab under the “Functionally Diverse Subgroups” tab
                provides advice about interpreting the search results for these subgroups.
                </p>

                <div id="searchSeqErrorMsg" style="display: none" class="m-1 p-2 mb-3 rounded alert-warning search-error"></div>
                <div class="form-group">
                    <textarea class="form-control w-75" id="searchSeq" cols="70" rows="10"></textarea>
                </div>
                <div class="mt-1"><button class="btn btn-primary btn-sm" id="searchSeqBtn">Find Clusters</button></div>
            </div>

            <div>
                <h3>Find by Taxonomy</h3>

                <p>
                Input the genus/species/strain for an organism. 
                </p>

                <p>
                If only the genus is entered, a pop-up list of matching genus-species-strains
                is provided for selection of the desired genus/species/strain. If the genus and
                species are entered, a pop-up list of matching genus-species-strains is
                provided for selection of the desired genus/species/strain. 
                </p>
                
                <p>
                The search provides a list of sequences in the RSS.   The list provides the
                UniProt ID (link to the UniProt page for sequence), UniProt description,
                organism name, UniProt annotation status (SwissProt or TrEMBL), and link to its
                Explore page.  
                </p>

                <div id="searchTaxTermErrorMsg" style="display: none" class="m-1 p-2 mb-3 rounded alert-warning search-error"></div>
                <div class="form-group" style="display: none">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchTaxType" id="searchTaxTypeSpecies" value="1" checked>
                        <label class="form-check-label" for="searchTaxTypeSpecies">Species</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchTaxType" id="searchTaxTypeGenus" value="1">
                        <label class="form-check-label" for="searchTaxTypeGenus">Genus</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchTaxType" id="searchTaxTypeFamily" value="1">
                        <label class="form-check-label" for="searchTaxTypeFamily">Family</label>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control w-50" type="text" name="searchTaxTerm" id="searchTaxTerm" placeholder="Species" />
                </div>
                <div class="mt-1"><button class="btn btn-primary btn-sm" id="searchTaxTermBtn">Find Clusters</button></div>
            </div>
        </div>

        <div class="container" id="searchResults" style="display: none">
        </div>
{% endblock %}

{% block tail_content %}
    <div id="progressLoader" class="progress-loader" style="display: none">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
{% endblock %}

{% block body_javascript %}
{% endblock %}

