{% extends "base.html.twig" %}
{% set page_title = 'Search' %}
{% set page_active = 'search' %}
{% set extra_css = ['css/typeahead.css?v=3'] %}
{% set extra_js = [ 'js/typeahead.bundle.js',

                                'js/app/app_data.js?v='~js_ver,
                                  'js/app/search.js?v='~js_ver,
                           'js/app/search_render.js?v='~js_ver,
                             'js/app/search_util.js?v='~js_ver,
                          'js/app/search_results.js?v='~js_ver,
                                'js/app/progress.js?v='~js_ver,
                                   'js/app/color.js?v='~js_ver,
                  ] %}

{% block content %}

        <div class="container" id="searchUi">
            <input type="hidden" name="version" id="version" value="{{data_version}}">

            <div>
                <h3>Find by UniProt ID</h3>
                <p>
                Input a UniProt ID to identify its subgroup/"diced" cluster.
                </p>

                <p>
                For subgroups that are not "diced" (SSNs as a function of
                increasing alignment score), the search opens the Explore page
                for the subgroup that contains the user-specified UniProt ID. 
                </p>

                <p>
                For "diced" subgroups, the search identifies the cluster in
                each "diced" SSN that contains the ID (&ge;3 UniRef IDs/nodes).
                The number of UniProt IDs, number of cluster nodes, and UniProt
                ID convergence ratio (CR; described on the Subgroups tab) are
                provided for each identified cluster. 
                </p>

                <p>
                In the generation of the megaclusters and clusters, some
                UniProt IDs for singletons may be deleted. The Search will
                report: "ID not found". 
                </p>

                <div id="searchIdErrorMsg" style="display: none" class="m-1 p-2 mb-3 rounded alert-warning search-error"></div>
                <div class="form-group">
                    <input class="form-control w-25" type="text" name="searchId" id="searchId" />
                </div>
                <div class="form-group mb-5 mt-1"><button class="btn btn-primary btn-sm" id="searchIdBtn">Find Cluster</button></div>
            </div>

            <div>
                <h3>Find by Sequence</h3>

                <p>
                Input a sequence to find subgroups/"diced" clusters that
                contain homologues. The sequence is used to query the HMMs for
                the subgroups/"diced" clusters (&ge;3 UniRef IDs/nodes). 
                </p>

                <p>
                The results reports matches for the "top" three
                subgroups/"diced" clusters if the e-value is &le;1e-10. The
                cluster is a link to the Explore page for the cluster. 
                </p>

                <p>
                For "diced" subgroups (SSNs as a function of increasing
                alignment score), the second section reports matches for
                clusters in the "diced" SSNs; the clusters with the three
                smallest e-values are listed. The number of UniProt IDs, number
                of cluster nodes, and UniProt ID convergence ratio (CR;
                described on the Subgroups tab) are provided for each
                identified cluster. 
                </p>

                <p>
                The "Exploring Subgroups" subtab under the "Functionally
                Diverse Subgroups" tab provides advice about interpreting the
                search results for these subgroups. 
                </p>

                <div id="searchSeqErrorMsg" style="display: none" class="m-1 p-2 mb-3 rounded alert-warning search-error"></div>
                <div class="form-group">
                    <textarea class="form-control w-75" id="searchSeq" cols="70" rows="10"></textarea>
                </div>
                <div class="mt-1">
                    <button class="btn btn-primary btn-sm" id="searchSeqBtn">Find Clusters</button>
                </div>
                <div class="mt-1" id="searchSeqProgressContainer" style="display: none">
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar" id="searchSeqProgressBar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <div>
                <h3>Find by Taxonomy</h3>

                <p>
                Input the genus/species/strain for an organism. 
                </p>

                <p>
                If only the genus is entered, a pop-up list of matching
                genus-species-strains is provided for selection of the desired
                genus/species/strain. If the genus and species are entered, a
                pop-up list of matching genus-species-strains is provided for
                selection of the desired genus/species/strain. 
                </p>

                <p>
                The search provides a list of organism’s sequences in the RSS.
                The list provides the UniProt ID (link to the UniProt page for
                sequence), Cluster [link to the Explore page(s) containing the
                UniProt ID], organism name, and UniProt annotation status
                (SwissProt or TrEMBL).
                </p>

                <div id="searchTaxTermErrorMsg" style="display: none" class="m-1 p-2 mb-3 rounded alert-warning search-error"></div>
                <div class="form-group" style="display: none">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchTaxType" id="searchTaxTypeSpecies" value="1" checked>
                        <label class="form-check-label" for="searchTaxTypeSpecies">Species</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchTaxType" id="searchTaxTypeGenus" value="1">
                        <label class="form-check-label" for="searchTaxTypeGenus">Genus</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchTaxType" id="searchTaxTypeFamily" value="1">
                        <label class="form-check-label" for="searchTaxTypeFamily">Family</label>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control w-50" type="text" name="searchTaxTerm" id="searchTaxTerm" placeholder="Species" />
                </div>
                <div class="mt-1"><button class="btn btn-primary btn-sm" id="searchTaxTermBtn">Find Sequences</button></div>
            </div>
        </div>

        <div class="container" id="searchResultsContainer" style="display: none">
            <h2 class="text-center"><a href="search.php"><i class="fas fa-redo-alt"></i> New Search</a></h2>
            <div class="container" id="searchResults">
            </div>
        </div>
{% endblock %}

{% block tail_content %}
    <div id="progressLoader" class="progress-loader" style="display: none">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        $(document).ready(function () {
            $(".cr-desc").popover({
                trigger: 'focus',
            });
        });
    </script>
{% endblock %}

