{% extends "base.html.twig" %}
{% set page_title = 'Submit' %}
{% set page_active = 'submit' %}

{% block content %}
        <div class="container" id="submitOk" style="margin-bottom: 500px">
            Thank you for your submission.  We will review it and respond shortly.
        </div>
{% endblock %}
