{% extends "base.html.twig" %}
{% set page_title = 'Terms of Use' %}
{% set page_active = 'terms_of_use' %}

{% block content %}
    <div class="container">

        <p>
        The purpose of this website, https://radicalsam.org ("<b>Site</b>") is to
        provide "top-down" discovery of diverse enzyme functions in the radical
        SAM superfamily (RSS) using the  EFI’s (Enzyme Function Initiative)
        genomic enzymology web tools ("<b>Tool</b>"). The Tool aggregates and uses
        several third party data sources that are subject to their own terms of
        use services. The Site and its content is made available by the Board
        of Trustees of the University of Illinois ("<b>Illinois</b>", "we", "our",
        "us"), on behalf of the EFI at the Institute of Genomic Biology. The
        Site is owned by Illinois.
        </p>

        <p>
        By using the Site, You agree that You have read and accept the terms of
        use as presented below ("<b>Terms</b>").  The Terms apply to You because You
        ("<b>End User</b>") are using, contributing to the Tool,  or otherwise
        accessing the Site.  Please read these Terms carefully.  The Terms
        govern Your use of the Site and any incorporated content (such as
        Illinois or third party software, text, data, information, or graphics)
        made available through the Site.  By continuing to use this Site, You
        accept these Terms.   <u>If You are not willing to be bound by these
            Terms, please stop using this Site.</u>
        </p>

        <ol>
        <li>
        <b>Governing Terms</b>:  The Terms are governed by Illinois’s web privacy
        notices and policy links presented here:
        <a href="https://www.vpaa.uillinois.edu/resources/web_privacy">https://www.vpaa.uillinois.edu/resources/web_privacy</a> and
        <a href="https://www.vpaa.uillinois.edu/resources/terms_of_use">https://www.vpaa.uillinois.edu/resources/terms_of_use</a>.
        </li>

        <li>
        <b>Intellectual Property</b>: You hereby accept that all intellectual
        property, including copyrights, and other proprietary rights in or
        related to Site are, and will remain, the exclusive property of
        Illinois, whether or not specifically recognized or perfected under
        applicable law. As End User, You will not take any action that
        jeopardizes Illinois’s proprietary rights.  
        </li>

        <li>
        <b>Credit and Attribution</b>. You agree to credit and attribute the
        authors and creators of Tool that You use with the copyright notice or
        statement of credit/attribution as customarily acceptable in industry.
        </li>

        <li>
        <b>Limitations</b>:  In no event shall Illinois or its employees be liable
        for any damages (including, without limitation, damages for loss of
        data or profit, or due to business interruption) arising out of the use
        or inability to use the content on Site, even if Illinois or a Illinois
        authorized representative has been notified orally or in writing of the
        possibility of such damage. Because some jurisdictions do not allow
        limitations on implied warranties, or limitations of liability for
        consequential or incidental damages, these limitations may not apply to
        you.
        </li>

        <li>
        <b>Modification of Site and Terms</b>. Illinois reserves the right to
        modify the Site and may discontinue, temporarily or permanently, the
        Site for any reason, at its sole discretion, with or without notice to
        You. Illinois may likewise change the Terms from time to time with or
        without notice to you. You agree to review the Terms periodically to
        ensure that you are aware of any modifications. Your continued access
        to the Site after the modifications have become effective shall be
        deemed your conclusive acceptance of the modified Terms. 
        </li>

        <li>
        <b>Termination</b>. If you violate or fail to comply with any of these
        Terms or in Illinois’ sole discretion restrict or inhibit any other
        user from using or enjoying the Site, Illinois may terminate your
        access to the Site account without notice to You. 
        </li>

        <li>
        <b>Database</b>: Tool aggregates two databases: the InterPro
        (<a href="https://www.ebi.ac.uk/">https://www.ebi.ac.uk/</a>, with these terms of service
        <a href="https://www.ebi.ac.uk/about/terms-of-use/">https://www.ebi.ac.uk/about/terms-of-use/</a>)
        and UniProt (<a href="https://www.uniprot.org/">https://www.uniprot.org/</a>,
        available under the Creative Commons Attribution (CC BY 4.0) license
        (<a href="https://www.uniprot.org/help/license/">https://www.uniprot.org/help/license/</a>),
        that are themselves aggregations of various data sources. Such data
        sources may be subject to rights claimed by third parties, including
        but not limited to, patent, copyright, other intellectual property
        rights, biodiversity-related access and benefit-sharing rights. It is
        the responsibility of users of the Tool services to ensure that their
        exploitation of the data does not infringe any of the rights of such
        third parties.
        </li>
    </ol>

Version 1.0. 9/28.2021

{% endblock %}

