{% extends "base.html.twig" %}
{% set page_title = 'Tutorials for Using RadicalSAM.org' %}
{% set page_active = 'tutorials' %}

{% block content %}
    <div class="container">
        <p>
            This page provides information on how to use the resources on this site (which were
            developed using the <a href="https://efi.igb.illinois.edu" target="_blank">EFI web tools</a>).
            <!--
            We have provided tutorials in the form of videos, which are embedded on this page
            and also available on the
            <a href="https://www.youtube.com/channel/UCShNWZLlJYevN2TlypX71ng" target="_blank">Enzyme Function YouTube channel</a>.
            -->
        </p>

        <div class="w-100 mt-5">
            <ul class="nav nav-tabs nav-intro-tabs" id="intro-master-tabs" role="tablist">
                <li class="nav-item"><a href="#videos" id="tab-videos" class="nav-link active" data-toggle="tab" role="tab" aria-controls="videos" aria-selected="true">Videos</a></li>
<!--
                <li class="nav-item"><a href="#pubs" id="tab-pubs" class="nav-link " data-toggle="tab" role="tab" aria-controls="pubs" aria-selected="false">Perspective</a></li>
-->
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="videos" role="tabpanel" aria-labelledby="tab-videos">
                    <div class="w-100 mb-5">
                        <h4>RadicalSAM.org Overview</h4>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/cd5O48XzHus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>RadicalSAM.org empowers researchers in the field of radical SAM enzymology to discover novel functions of uncharacterized members of the RSS by democratizing the genomic enzymology tools. This video provides a tour of the site and encourages the user to explore the tools using their own radical SAM enzymes.</div>
                    </div>
                    <div class="w-100 mb-5">
                        <h4>Maneuvering the Dataset Using the Explore Tab</h4>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/K3p88rV7Ctc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>The Explore tab gives the user the ability to maneuver through the enormous protein dataset in RadicalSAM.org. This video provides a tour of the Explore tab and details the various tools in the tab. </div>
                    </div>
                    <div class="w-100 mb-5">
                        <h4>Overview of the Genome Neighborhood Diagram Viewer</h4>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/agaXB7GTSzw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>GNDs are powerful tools in determining the potential function of a radical SAM enzyme. This video describes their use and how they have been incorporated into RadicalSAM.org.</div>
                    </div>
                    <div class="w-100 mb-5">
                        <h4>Determining Points of Isofunctionality using "Dicing"</h4>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/Urot_AHsd4o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>RadicalSAM.org uses SSNs generated at a series of increasing alignment scores, through a process known as dicing, to assist the user in determining points of isofunctionality in the radical SAM superfamily. This video provides a brief description of that process.</div>
                    </div>
                    <div class="w-100 mb-5">
                        <h4>Searching for a Specific Radical SAM</h4>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/g5Cuq3ctbWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>The Search tab enables the user to search for a specific radical SAM in RadicalSAM.org. This video provides a tour of the Search tab and describes how a user can find useful information about their radical SAM enzyme.</div>
                    </div>
                    <div class="w-100 mb-5">
                        <h4>A "Dicing" Case Study</h4>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/XUvA7ELiUU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>This video provides a tutorial on determining an isofunctional alignment score for a radical SAM of interest using PqqE, the PqqA peptide cyclase in pyrroloquinoline quinone (PQQ) biosynthesis, as a case study.</div>
                    </div>
                    <!--
                    <div class="w-100">
                        <h5>How to Introduce 60s music to the 60s (Back to the Future)</h5>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/T_WSXXPQYeY?start=152" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="w-auto">
                        <h5>A Railroad Track Tester</h5>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/J2QmXV7W_fw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    -->
                </div>
                <!--
                <div class="tab-pane fade show " id="pubs" role="tabpanel" aria-labelledby="tab-pubs">
                    <div class="w-100">
                        <h5>Perspective</h5>
                        <p>
                        A Perspective was published in ACS Bio &amp; Med Chem Au in late 2021 that
                        provides an overview of RadicalSAM.org as well as highlights of its
                        features and tools for providing genome context for isofunctional
                        clusters in the sequence similarity networks (SSNs) of subgroups in the
                        radical SAM superfamily.  
                        </p>
                        <p>
                        The publication was accompanied with YouTube videos that provide users
                        with narrated descriptions and demonstrations to assist their use of
                        RadicalSAM.org to assign novel enzymatic activities and metabolic
                        function to uncharacterized members of the superfamily.   Those videos
                        are available on the VIDEOS tab of this section.
                        </p>
                        <p>
                        Please use the following to cite this Perspective:
                        </p>
                        <p style="padding-left: 30px">
                            Nils Oberg, Timothy W. Precord, Douglas A. Mitchell, and John A. Gerlt,
                            <b>RadicalSAM.org:  A Resource to Interpret Sequence-Function Space and Discover New Radical SAM Enzyme Chemistry</b>,
                            ACS Bio & Med Chem Au 2021 ??????.   <a href="https://doi.org/10.1021/acsbiomedchemau.???????">https://doi.org/10.1021/acsbiomedchemau.???????</a>
                        </p>
                        <p>
                        <a href="">Download the Perspective in PDF format.</a>
                        </p>
                        <p>
                        <a href="">Download the Supplementary Information.</a>
                        </p>
                    </div>
                </div>
                -->
            </div>
        </div>

        <div class="mt-5">
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
{% endblock %}

