{% extends "base.html.twig" %}
{% set page_title = 'Tutorials for Using RadicalSAM.org' %}
{% set page_active = 'tutorials' %}

{% block content %}
    <div class="container">
        <p>
            This page provides information on how to use the resources on this site (which were
            developed using the <a href="https://efi.igb.illinois.edu" target="_blank">EFI web tools</a>).
            We have provided tutorials in the form of videos, which are embedded on this page
            and also available on the
            <a href="https://www.youtube.com/channel/UCShNWZLlJYevN2TlypX71ng" target="_blank">Enzyme Function YouTube channel</a>.
        </p>
        <p>
            The PUBLICATION HERE perspective also provides an overview of these web resources and how
            they can be applied.
        </p>

        <div class="w-100 mt-5">
            <ul class="nav nav-tabs nav-intro-tabs" id="intro-master-tabs" role="tablist">
                <li class="nav-item"><a href="#videos" id="tab-videos" class="nav-link active" data-toggle="tab" role="tab" aria-controls="videos" aria-selected="true">Videos</a></li>
                <li class="nav-item"><a href="#pubs" id="tab-pubs" class="nav-link " data-toggle="tab" role="tab" aria-controls="pubs" aria-selected="false">Publications</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="videos" role="tabpanel" aria-labelledby="tab-videos">
                    <div class="w-100">
                        <h5>5 challenges we could solve by designing new proteins (Rosetta)</h5>
                        <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/david_baker_5_challenges_we_could_solve_by_designing_new_proteins" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
                    </div>
                    <!--
                    <div class="w-100">
                        <h5>How to Introduce 60s music to the 60s (Back to the Future)</h5>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/T_WSXXPQYeY?start=152" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="w-auto">
                        <h5>A Railroad Track Tester</h5>
                        <iframe width="800" height="450" src="https://www.youtube.com/embed/J2QmXV7W_fw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    -->
                </div>
                <div class="tab-pane fade show " id="pubs" role="tabpanel" aria-labelledby="tab-pubs">
                    <div class="w-100">
                        <h5>Publications</h5>
                        A list of publications relating to RadicalSAM.org goes here.
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
{% endblock %}

