
                    <div>
                        <p>
                        We would like RadicalSAM.org to be a community resource, with users providing
                        current annotation information that will assist the community with selection of
                        proteins for study and inform the sequence-function space that is used to infer
                        functions.
                        </p>
                        
                        <p>
                        SwissProt annotations are incomplete and sometimes vague or incorrect;
                        experimentally verified annotations provided by the community are expected to
                        be both more reliable and precise. On the <a href="submit.php">Submit</a>
                        page, we provide a "Community
                        Annotation Submission" form for users to submit experimentally determined
                        functions as well as publications that document/describe these functions. After
                        review, these will be included on the cluster pages using the "Pubs" and "Anno"
                        buttons. 
                        </p>
                    </div>

                    <div>
                        <p>
                        We have identified some proteins in the RadicalSAM superfamily
                        that have already been annotated by the community.  These are
                        listed below.
                        </p>
                    </div>

                    <div>
                        {{ anno_html | raw }}
                    </div>

