
                    <div>
                        <p>
                        The radical SAM superfamily (RSS) is arguably the largest and most functionally diverse enzyme superfamily.  Its members contain a
                        Fe<sub>4</sub>S<sub>4</sub> cluster near the N-terminus of a (&beta;/&alpha;)<sub>6</sub>-barrel domain  
                        that binds S-adenosyl methionine (SAM);
                        one-electron reduction of the bound SAM yields Met and
                        an organometallic intermediate, designated &Omega;, in which the 
                        5&prime;-deoxyadenosyl radical (5&prime;-dAdo&bull;) is bound to an Fe of the Fe<sub>4</sub>S<sub>4</sub> cluster.
                        When liberated, the 5&prime;-dAdo&bull; generates a substrate radical (R&bull;) (and 5&prime;-deoxyadenosine)
                        that undergoes intriguing and often
                        complex chemistry to yield the product
                        (<a target="_blank" href="https://doi.org/10.1021/jacs.8b04061">https://doi.org/10.1021/jacs.8b04061</a>).
                        </p>

                        <p>
                            <img src="img/intro/intro_background_chemistry.png" class="w-100" alt="Illustration of the chemical reaction that generates a substrate radical R&bull; and 5&prime;-deoxyadenosine."/>
                        </p>

                        <p>
                        The SFLD (<a target="_blank" href="http://sfld.rbvi.ucsf.edu/archive/django/index.html">http://sfld.rbvi.ucsf.edu/archive/django/index.html</a>) used
                        an SSN to segregate the RSS into 20 subgroups with characterized functions and 22 without characterized functions.  Their
                        analysis was described in Methods in Enzymology Volume 606 in 2018:
                        <i>Atlas of the Radical SAM Superfamily:  Divergent Evolution of Function Using an
                        "Plug and Play" Domain</i>, G.L. Holliday, E. Akiva, E.C. Meng, S.D. Brown, S. Calhoun, U. Pieper, A. Sali, S.J. Booker and P.C. Babbitt
                        (doi: <a target="_blank" href="https://dx.doi.org/10.1016/bs.mie.2018.06.004">10.1016/bs.mie.2018.06.004</a>).
                        </p>
                        
                        <p>
                        At the time of the SFLD's analyses (2017), the RSS included 113,776 sequences that were collected at 50% sequence identity into 10,741 representative nodes so 
                        that the SSN could be visualized and analyzed using Cytoscape (<a target="_blank" href="https://cytoscape.org/">https://cytoscape.org/</a>).
                        The SSN is reproduced below (Figure 5 in the Atlas; minimum e-value 
                        threshold to draw edges between nodes is 1e-20), with the characterized subgroups numbered and colored as described by the SFLD.
                        </p>

                        <p class="text-center">
                            <img src="img/intro/atlas.png" class="w-50" alt="The SSN used to define the subgroups in the Atlas of the the Radical Superfamily, from the Atlas publication." />
                        </p>
                        
                        <p>
                        We provide a web resource with three "democratized" genomic enzymology tools 
                        (<a target="_blank" href="https://efi.igb.illinois.edu/">https://efi.igb.illinois.edu/</a>;
                        doi: <a target="_blank" href="http://dx.doi.org/10.1021/acs.biochem.9b00735">10.1021/acs.biochem.9b00735</a>)
                        The tools are used to 1) explore sequence-function
                        space in protein families using SSNs (generated with
                        EFI-EST), 2) collect and explore genome neighborhoods
                        for clues about functions of uncharacterized enzymes
                        (collected with EFI-GNT), and 3) prioritize
                        uncharacterized SSN clusters for functional assignment
                        based on human microbiome metagenome abundance
                        (chemically guided functional profiling with EFI-CGFP).
                        </p>

                        <p>
                        Unfortunately, most experimentalists interested in the RSS cannot take full advantage of the tools:
                        <ol>
                            <li>The SSN for the RSS is too large to be visualized/analyzed with Cytoscape using the RAM installed on most computers. </li>
                            <li>The SSN contains many clusters/subgroups that were not curated by the SFLD.  </li>
                            <li>Regularly updated lists of the members of the subgroups are not available.  </li>
                        </ol>
                        </p>

                        <p>
                        We developed RadicalSAM.org to provide lists of
                        accession IDs (UniProt, UniRef90, and UniRef50) for the
                        SFLD-curated subgroups and uncurated subgroups so that
                        their SSNs can generated with EFI-EST.  For most of
                        SFLD subgroups and additional clusters, the number of
                        UniRef50 IDs is sufficiently small that useful SSNs can
                        be visualized and analyzed with Cytoscape using
                        typically available computers.  
                        </p>

                        <p>
                        RadicalSAM.org also provides information about each
                        subgroup to aid target selection and inference of
                        function, including the multiple sequence alignment
                        (MSA), WebLogo, hidden Markov model (HMM), length
                        histogram, phylogenetic distribution, SwissProt
                        annotations, and number and locations of conserved Cys
                        residues.
                        </p>

                        <p>
                        Importantly, RadicalSAM.org provides genome context
                        (genome neighborhood networks, GNNs, and genome
                        neighborhood diagrams, GNDs) for the bacterial and
                        archaeal members of the subgroups, thereby providing
                        metabolic pathway context for inferring novel enzymatic
                        activities and physiological functions.
                        </p>
                    </div>

