
                    <div>
                        <p>
                        This release of RadicalSAM.org includes RSS sequences
                        in UniProt Release 2020_05/InterPro Release 82 (October
                        7, 2020).  Option B of EFI-EST was used to collect
                        sequences from the UniRef50 database using as query a
                        list of 172 InterPro families/domains and 1 Pfam
                        family; the list of families is provided in the Sequence Families tab.
                        UniRef50 clusters were used because
                        these provide a manageable number of SSN nodes and
                        edges (using a Mac Pro desktop with 768 GB RAM).   The
                        UniRef database is described at:
                        <a href="https://www.uniprot.org/help/uniref">https://www.uniprot.org/help/uniref</a>.
                        </p>

                        <p>
                        We used a dataset containing only “Complete” UniRef50
                        cluster IDs filtered to include sequences with ≥140
                        residues (50,232 of 52,886 UniRef50 clusters; include
                        616,009 of 620,386 UniProt IDs).   The sequences in the
                        UniRef50/UniRef90 clusters WERE NOT length-filtered.
                        </p>

                        <p>
                        Future releases of RadicalSAM.org may use the
                        “Complete” plus “Fragment” UniRef50 cluster dataset
                        filtered to include sequences with ≥140 residues, with
                        the benefit of providing additional genome context
                        information.  However, in this initial release, we
                        adopted a “conservative” approach for including
                        sequences.  
                        </p>

                        <ul class="nav nav-tabs nav-intro-tabs" id="cur_rel_subtabs" role="tablist">
                            <li class="nav-item"><a href="#cur_rel_seq_fams" id="tab-cur_rel_seq_fams" class="nav-link active" data-toggle="tab" role="tab">Sequence Families</a></li>
                            <li class="nav-item"><a href="#cur_rel_seq_status" id="tab-cur_rel_seq_status" class="nav-link" data-toggle="tab" role="tab">Sequence Status</a></li>
                            <li class="nav-item"><a href="#cur_rel_min_seq_len" id="tab-cur_rel_min_seq_len" class="nav-link" data-toggle="tab" role="tab">Minimum Sequence Length</a></li>
                            <li class="nav-item"><a href="#cur_rel_len_hist" id="tab-cur_rel_len_hist" class="nav-link" data-toggle="tab" role="tab">Length Histograms</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="cur_rel_seq_fams" role="tabpanel">
                                {% include 'intro/seq_fams.html.twig' %}
                            </div>
                            <div class="tab-pane fade" id="cur_rel_seq_status" role="tabpanel">
                                <h5>Sequence Status: “Complete” and “Fragment”</h5>

                                <p>
                                UniProt designates the “Sequence Status” for
                                each sequence:  “Complete” if the encoding DNA
                                sequence includes both a start and stop codon;
                                “Fragment” if one or both of these codons
                                is/are absent.  A “Fragment” may result if the
                                coding DNA sequence is at the end of a contig.
                                A “Complete” sequence need not to be a “full
                                length” sequence, e.g., it may be truncated as
                                the result of sequencing errors that produce
                                incorrect start and/or stop codons.  
                                </p>

                                <p>
                                Option B identified 664,196 “Complete” and
                                “Fragment” UniProt sequences in 66,428 UniRef50
                                clusters; these represent 579,102 unique
                                sequences (100% sequence identity over 100% of
                                the length).   Option B identified 620,386
                                “Complete” sequences in 52,886 UniRef50
                                clusters; these represent 535,892 unique
                                sequences.  
                                </p>
                            </div>
                            <div class="tab-pane fade" id="cur_rel_min_seq_len" role="tabpanel">
                                <h5>Minimum Sequence Length</h5>

                                <p>
                                We remove “short” (truncated) sequences from
                                our datasets to 1) improve the quality of the
                                MSAs used to generate WebLogos and HMMs and 2)
                                minimize the number of singletons in SSNs
                                generated with alignment scores that collect
                                sequences into “isofunctional” clusters.  We
                                designate sequences as “short” if they cannot
                                encode a functional RSS enzyme.  By inspecting
                                the UniProt ID length histograms for the
                                subgroups in RadicalSAM.org (generated using
                                the Cluster Analysis utility of EFI-EST), we
                                identified the anaerobic
                                ribonucleotide-triphosphate reductase
                                activating enzyme family with members that
                                contain ≥140 residues (Megacluster-3-3-1) as
                                the “shortest” functional RSS family.  
                                </p>

                                <p>
                                Therefore, we used UniRef50 IDs that contain
                                ≥140 residues to construct the SSN for the RSS.
                                </p>

                            </div>
                            <div class="tab-pane fade" id="cur_rel_len_hist" role="tabpanel">
                                <h5>Length Histograms</h5>

                                <p>
                                It is instructive for the user to be familiar
                                with the length distribution of the UniRef50
                                IDs (i.e., nodes) in our datasets and resulting
                                SSNs.  The length histograms (UniProt IDs,
                                UniRef90 cluster IDs, and UniRef50 cluster IDs)
                                for the “Complete” and “Complete” plus
                                “Fragment” datasets are shown below.  
                                </p>

                                <h5>UniProt IDs</h5>

                                <img src="img/intro/intro_cur_release_uniprot_len_hist.png" class="w-100" />

                                <ol>
                                    <li>
                                    The “Complete” dataset contains “short”
                                    sequences (&lt;140 residues; too short to be
                                    functional) although they are designated
                                    “Complete” by UniProt.   These result from
                                    sequencing errors but, since they the
                                    encoding DNA has start and stop codons,
                                    they cannot be distinguished from “full
                                    length” sequences when deposited in
                                    UniProt.
                                    </li>
                                    <li>
                                    The “Complete” plus “Fragment” dataset
                                    contains a larger fraction of “short”
                                    sequences, the additional sequences
                                    contributed by those encoded by DNA without
                                    start and/or stop codons.
                                    </li>
                                </ol>


                                <h5>UniRef90 cluster IDs</h5>
                                
                                <img src="img/intro/intro_cur_release_uniref90_len_hist.png" class="w-100" />
                                 
                                <ol>
                                    <li>
                                    The histograms are similar to those for the UniProt IDs, albeit lower resolution because sequences that share ≥90%
                                    sequence identity are conflated in the same UniRef90 cluster.  
                                    </li>
                                    <li>
                                    The fraction of “short” sequences is larger than in the UniProt ID histograms.  These result from “random” unique
                                    sequences instead of homologous “full length” sequences of similar length.  As result, the “short” clusters are
                                    less likely to include multiple sequences so they constitute a larger fraction of the cluster IDs.
                                    </li>
                                </ol>

                                <h5>UniRef50 cluster IDs</h5>

                                <img src="img/intro/intro_cur_release_uniref50_len_hist.png" class="w-100" />
                                 
                                <ol>
                                    <li>
                                    The histograms are even lower resolution because sequences that share ≥50% sequence identity are conflated in
                                    the same UniRef50 cluster.  
                                    </li>
                                    <li>
                                    The fraction of “short” clusters is further increased.  Although the absolute number of sequences in the
                                    “short” UniRef50 clusters the same as in the UniRef90 clusters and the UniProt IDs, the fraction of “short”
                                    clusters increases, again because these result from “random” unique sequences instead of homologous “full length”
                                    sequences of similar length.   
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

