

                    <div>
                        <p>An <b>Explore</b> page is provided for each SSN cluster in RadicalSAM.org.</p>

                        <ul class="nav nav-tabs nav-intro-tabs" id="explore_subtabs" role="tablist">
                            <li class="nav-item"><a href="#explore_func" id="tab-explore_func" class="nav-link active" data-toggle="tab" role="tab">FUNCTIONS/DOWNLOADS</a></li>
                            <li class="nav-item"><a href="#explore_conv" id="tab-explore_conv" class="nav-link" data-toggle="tab" role="tab">CONVERGENCE RATIO</a></li>
                            <li class="nav-item"><a href="#explore_cons" id="tab-explore_cons" class="nav-link" data-toggle="tab" role="tab">CONSERVED CYS RESIDUES</a></li>
                            <li class="nav-item"><a href="#explore_logo" id="tab-explore_logo" class="nav-link" data-toggle="tab" role="tab">MSAs, WEBLOGOs, HMMs</a></li>
                            <li class="nav-item"><a href="#explore_tax" id="tab-explore_tax" class="nav-link" data-toggle="tab" role="tab">TAXONOMY</a></li>
                            <li class="nav-item"><a href="#explore_gnd" id="tab-explore_gnd" class="nav-link" data-toggle="tab" role="tab">GNDs</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="explore_func" role="tabpanel">
                                The Explore page provides information about the sequences in the SSN cluster (image displayed) that can be viewed or
                                downloaded: 

                                <ol>
                                    <li>SwissProt-annotated functions (button)</li>
                                    <li>KEGG annotated sequences (button)</li>
                                    <li>PDB files (button)</li>
                                    <li>TIGRFAM families (button)</li>
                                    <li>Community annotations (button)</li>
                                    <li>Taxonomy sunburst (button)</li>
                                    <li>Genome neighborhood diagrams (GNDs; button)</li>
                                    <li>Clusters sizes (numbers of UniProt, UniRef90, and UniRef50 IDs) </li>
                                    <li>Convergence Ratio (CR) for the UniProt IDs and UniRef node IDs, </li>
                                    <li>Summary of the number of Conserved Cys Residues as a function of sequence conservation (from 90% to 10%,
                                    decreasing in steps of 10%) </li>
                                    <li>WebLogo and multiple sequence alignment (MSA; generated with MUSCLE; can be viewed with Jalview that is
                                    available for download from https://www.jalview.org/)</li>
                                    <li>HMM (viewed interactively using Skylign at https://skylign.org/; a text file is also available for
                                    download)</li>
                                    <li>Length histograms for UniProt, UniRef90, and UniRef50 IDs</li>
                                    <li>SSN for the displayed cluster (xgmml file for Cytoscape; download)</li>
                                    <li>Lists of UniProt, UniRef90, and UniRef50 IDs (download)</li>
                                    <li>UniProt, UniProt90, and UniRef50 FASTA files (download)</li>
                                    <li>A table with the number and residue positions of conserved Cys residues in the MSA (download).</li>
                                </ol>

                            </div>
                            <div class="tab-pane fade" id="explore_conv" role="tabpanel">
                                <p>
                                <b>Convergence ratio (CR)</b>:  The CR is the ratio of the number of sequence pairs with edge alignment score values (derived
                                from BLAST e-values/bit scores) ≥ the minimum alignment score threshold used to generate the SSN to the total number
                                of sequence pairs.  The value of CR ranges from 1.0 for sequences that are very similar (“identical”) to 0.0 for
                                sequences that are unrelated at the specified alignment score.
                                </p>

                                <p>
                                At small values of the alignment score, the value of CR for a cluster can be ~ 1.0 even if the cluster is
                                heterofunctional (e-values are large; pairwise sequence similarity is small).  However, at larger values of the
                                alignment score, clusters with values approaching 1.0 are likely to be isofunctional (e-values are small; pairwise
                                sequence identity is large).  
                                </p>

                                <p>
                                Isofunctional clusters, as judged by shared genome context in the GNDs, often have CR values that approach 1.0.
                                However, the values of CR for isofunctional/orthologous clusters that contain sequences from phylogenetically diverse
                                species can decrease with increasing alignment score as the sequence divergence between orthologues in different
                                phylogenetic groups cause the CR to decrease.  In such situations, as the alignment score increases, an isofunctional
                                cluster with a low value for CR can segregate into smaller clusters for different phylogenetic groups with CR values
                                that approach 1.0.   Thus, values of CR that approach 1.0 are not required for isofunctionality; inspection of the
                                GNDs allows that assessment
                                </p>

                            </div>
                            <div class="tab-pane fade" id="explore_cons" role="tabpanel">
                                <p>
                                <b>Conserved Cys Residues</b>:   A list is provided of the number of Conserved Cys Residues as a function of percent
                                conservation in the MSA.   Recall that, by definition, members of the RSS share a Cx3Cx2C motif for SAM-binding.
                                Conserved Cys residues in excess of 3 may be associated with additional FeS clusters, e.g., members of the SFLD
                                subgroup 17, SPASM/Twitch domain.
                                </p>

                                <p>
                                The sequences in the cluster are not edited prior to construction of the MSA, so some will be truncated (even if their
                                Sequence Status is “Complete”).   Also, if the alignment score threshold is less than that required for
                                isofunctionality, the sequences in the MSA will be heterofunctional and, therefore, heterogeneous in length.
                                Therefore, the Number of Conserved Cys Residues can be expected to be a function of percent conservation, with the
                                most abundant conserved Cys motifs represented at large values of percent conservation and conserved Cys motifs in
                                less abundant sequences/functions represented at lower values of percent conservation.  Therefore, with the caveat
                                that the sequences in the cluster cannot be expected to be uniform in length, this summary can be used to evaluate
                                sequence and function heterogeneity.
                                </p>

                                <p>
                                The Conserved Cys Residues can/should be used together with the MSA, CR, length histograms, and GNDs in identifying
                                isofunctional clusters.
                                </p>

                                <p>
                                Consensus Cys Residues: A text file ("Consensus residue percentage summary table") is available for download.  In the
                                MSA (SSN cluster number in column 1), the positions of Cys residues identified at 90%, 80%, 70%, 60%, 50%, 40%, 30%,
                                20%, and 10% conservation (column 2) are identified in columns 6 and greater. The number in column 3 is the number of
                                Cys residues conserved that percent conservation columns 4 and 5 provide the number of IDs in the cluster. The
                                canonical Cx3Cx2C is easily identified; additional conserved Cys residues may provide ligands to auxilliary Fe-S
                                centers. 
                                </p>

                                <img src="img/intro/explore_cons.png">

                            </div>
                            <div class="tab-pane fade" id="explore_logo" role="tabpanel">
                                <p>
                                <b>MSAs and WebLogos</b>:  The MSA for all UniRef node IDs is generated using MUSCLE.  The WebLogo calculated from the MSA is
                                displayed. The conserved Cys residues are colored in red to allow easy identification of the canonical SAM-binding
                                Cx3Cx2C motif as well other conserved Cys residues. Their height is proportional to percent conservation; their
                                intensity is determined by residue occupancy in the MSA.
                                </p>

                                <p>
                                The MSA is available for download and can be viewed with Jalview (<a href="https://www.jalview.org/">https://www.jalview.org/</a>).  The WebLogo is available
                                as a png file.  
                                </p>

                                <p>
                                <b>HMMs</b>: The HMM for the cluster generated from the MSA using hmmbuild is provided. It can be viewed as an image
                                generated by Skylign (<a href="https://skylign.org/">https://skylign.org/</a>). The image can be downloaded as a png file. The text file for the HMM is
                                available for download and use for identifying sequences in the UniProt database using hmmsearch
                                (<a href="https://www.ebi.ac.uk/Tools/hmmer/search/hmmsearch">https://www.ebi.ac.uk/Tools/hmmer/search/hmmsearch</a>). 
                                </p>
                            </div>
                            <div class="tab-pane fade" id="explore_tax" role="tabpanel">
                                <b>Taxonomy</b>:  The Taxonomy button opens a sunburst display similar to that provided by Pfam for its families
                                (<a href="https://pfam.xfam.org/">https://pfam.xfam.org/</a>).  Each node in the SSN is displayed as an arc, arranged radially with the superkingdom at the
                                center and species in the outermost ring. Clicking on a taxonomic group expands that part of the taxonomic hierarchy.
                                Clicking on the center circle will revert the display to the next highest level. Buttons are provided to download the
                                IDs (UniProt and UniRefNN) and FASTA files (UniProt and UniRefNN) at the displayed taxonomic level (depending on the
                                number of sequences, a delay may be encountered in downloading the FASTA files). 
                            </div>
                            <div class="tab-pane fade" id="explore_gnd" role="tabpanel">
                                <p>
                                <b>Genome Neighborhood Diagrams (GNDs)</b>:  The Genome Neighborhood Diagrams button provides genome neighborhood diagrams
                                (GNDs) for the node IDs in each cluster.  These are displayed using the GND Explorer used by the EFI-GNT tool.  The
                                GNDs provide information about both functional heterogeneity (one or several genome neighborhoods; one or more
                                functions) and possible metabolic pathways (Pfam/InterPro families of proximal genes).  
                                </p>

                                <p>
                                For UniRef50 SSN clusters, the default GND display is UniRef50 node IDs in the cluster; for UniRef90 SSN clusters, the
                                default display is UniRef90 nodes IDs in the cluster.
                                </p>

                                <p>
                                The GNDs for the UniRef90 IDs in each UniRef50 node are available by clicking the "+" link adjacent to each UniRef50
                                GND. 
                                </p>

                                <p>
                                The GNDs for the UniProt IDs in each UniRef90 node are available by clicking the "+" link adjacent to each UniRef90
                                GND. 
                                </p>
                            </div>
                        </div>
                    </div>

