
                                <table class="table table-sm w-75">
                                    <thead>
                                        <th>Family</th><th>Short Name</th>
                                    </thead>
                                    <tbody>
                                        <tr><td>IPR000385</td><td>MoaA_NifB_PqqE_Fe-S-bd_CS</td></tr>
                                        <tr><td>IPR001989</td><td>Radical_activat_CS</td></tr>
                                        <tr><td>IPR002684</td><td>Biotin_synth/BioAB</td></tr>
                                        <tr><td>IPR003698</td><td>Lipoyl_synth</td></tr>
                                        <tr><td>IPR003739</td><td>Lys_aminomutase/Glu_NH3_mut</td></tr>
                                        <tr><td>IPR004383</td><td>rRNA_lsu_MTrfase_RlmN/Cfr</td></tr>
                                        <tr><td>IPR004558</td><td>Coprogen_oxidase_HemN</td></tr>
                                        <tr><td>IPR004559</td><td>HemW-like</td></tr>
                                        <tr><td>IPR005839</td><td>Methylthiotransferase</td></tr>
                                        <tr><td>IPR005840</td><td>Ribosomal_S12_MeSTrfase_RimO</td></tr>
                                        <tr><td>IPR005909</td><td>RaSEA</td></tr>
                                        <tr><td>IPR005911</td><td>YhcC-like</td></tr>
                                        <tr><td>IPR005980</td><td>Nase_CF_NifB</td></tr>
                                        <tr><td>IPR006463</td><td>MiaB_methiolase</td></tr>
                                        <tr><td>IPR006466</td><td>MiaB-like_B</td></tr>
                                        <tr><td>IPR006467</td><td>MiaB-like_C</td></tr>
                                        <tr><td>IPR006638</td><td>Elp3/MiaB/NifB</td></tr>
                                        <tr><td>IPR007197</td><td>rSAM</td></tr>
                                        <tr><td>IPR010505</td><td>Mob_synth_C</td></tr>
                                        <tr><td>IPR010722</td><td>BATS_dom</td></tr>
                                        <tr><td>IPR010723</td><td>HemN_C</td></tr>
                                        <tr><td>IPR011101</td><td>DUF5131</td></tr>
                                        <tr><td>IPR011843</td><td>PQQ_synth_PqqE_bac</td></tr>
                                        <tr><td>IPR012726</td><td>ThiH</td></tr>
                                        <tr><td>IPR012837</td><td>NrdG</td></tr>
                                        <tr><td>IPR012838</td><td>PFL1_activating</td></tr>
                                        <tr><td>IPR012839</td><td>Organic_radical_activase</td></tr>
                                        <tr><td>IPR013483</td><td>MoaA</td></tr>
                                        <tr><td>IPR013704</td><td>UPF0313_N</td></tr>
                                        <tr><td>IPR013848</td><td>Methylthiotransferase_N</td></tr>
                                        <tr><td>IPR013917</td><td>tRNA_wybutosine-synth</td></tr>
                                        <tr><td>IPR016431</td><td>Pyrv-formate_lyase-activ_prd</td></tr>
                                        <tr><td>IPR016771</td><td>Fe-S_OxRdtase_rSAM_TM0948_prd</td></tr>
                                        <tr><td>IPR016779</td><td>rSAM_MSMEG0568</td></tr>
                                        <tr><td>IPR016863</td><td>DesII</td></tr>
                                        <tr><td>IPR017200</td><td>PqqE-like</td></tr>
                                        <tr><td>IPR017742</td><td>Deazaguanine_synth</td></tr>
                                        <tr><td>IPR017833</td><td>Hopanoid_synth-assoc_rSAM_HpnH</td></tr>
                                        <tr><td>IPR017834</td><td>Hopanoid_synth-assoc_rSAM_HpnJ</td></tr>
                                        <tr><td>IPR019939</td><td>CofG_family</td></tr>
                                        <tr><td>IPR019940</td><td>CofH_family</td></tr>
                                        <tr><td>IPR020050</td><td>FO_synthase_su2</td></tr>
                                        <tr><td>IPR020612</td><td>Methylthiotransferase_CS</td></tr>
                                        <tr><td>IPR022431</td><td>Cyclic_DHFL_synthase_mqnC</td></tr>
                                        <tr><td>IPR022432</td><td>Aminodeoxyfutalosine_synthase</td></tr>
                                        <tr><td>IPR022447</td><td>Lys_aminomutase-rel</td></tr>
                                        <tr><td>IPR022459</td><td>Lysine_aminomutase</td></tr>
                                        <tr><td>IPR022462</td><td>EpmB</td></tr>
                                        <tr><td>IPR022881</td><td>rRNA_lsu_MeTfrase_Cfr</td></tr>
                                        <tr><td>IPR022946</td><td>UPF0313</td></tr>
                                        <tr><td>IPR023404</td><td>rSAM_horseshoe</td></tr>
                                        <tr><td>IPR023819</td><td>Pep-mod_rSAM_AF0577</td></tr>
                                        <tr><td>IPR023821</td><td>rSAM_TatD-assoc</td></tr>
                                        <tr><td>IPR023822</td><td>rSAM_TatD-assoc_bac</td></tr>
                                        <tr><td>IPR023868</td><td>7-CO-7-deazaGua_synth_put_Clo</td></tr>
                                        <tr><td>IPR023880</td><td>Benzylsucc_Synthase_activating</td></tr>
                                        <tr><td>IPR023885</td><td>4Fe4S-binding_SPASM_dom</td></tr>
                                        <tr><td>IPR023886</td><td>QH-AmDH_gsu_maturation</td></tr>
                                        <tr><td>IPR023891</td><td>Pyrrolys_PylB</td></tr>
                                        <tr><td>IPR023897</td><td>Spore_PP_lysase</td></tr>
                                        <tr><td>IPR023904</td><td>Pep_rSAM_mat_YydG</td></tr>
                                        <tr><td>IPR023912</td><td>YjjW_bact</td></tr>
                                        <tr><td>IPR023913</td><td>Mycofactocin_rSAM_pep_mat</td></tr>
                                        <tr><td>IPR023930</td><td>NirJ1</td></tr>
                                        <tr><td>IPR023969</td><td>CHP04072_B12-bd/rSAM</td></tr>
                                        <tr><td>IPR023979</td><td>CHP04014_B12-bd/rSAM</td></tr>
                                        <tr><td>IPR023980</td><td>CHP04013_B12-bd/rSAM</td></tr>
                                        <tr><td>IPR023992</td><td>HemeD1_Synth_rSAM_NirJ</td></tr>
                                        <tr><td>IPR023993</td><td>TYW1_archaea</td></tr>
                                        <tr><td>IPR023995</td><td>HemZ</td></tr>
                                        <tr><td>IPR024001</td><td>Cys-rich_pep_rSAM_mat_CcpM</td></tr>
                                        <tr><td>IPR024007</td><td>FeFe-hyd_mat_HydG</td></tr>
                                        <tr><td>IPR024016</td><td>CHP04064_rSAM</td></tr>
                                        <tr><td>IPR024017</td><td>Pep_cycl_rSAM</td></tr>
                                        <tr><td>IPR024018</td><td>CHP04083_rSAM</td></tr>
                                        <tr><td>IPR024023</td><td>rSAM_paired_HxsB</td></tr>
                                        <tr><td>IPR024025</td><td>SCIFF_rSAM_maturase</td></tr>
                                        <tr><td>IPR024025</td><td>SCIFF_rSAM_maturase</td></tr>
                                        <tr><td>IPR024177</td><td>Biotin_synthase</td></tr>
                                        <tr><td>IPR024560</td><td>UPF0313_C</td></tr>
                                        <tr><td>IPR024924</td><td>7-CO-7-deazaguanine_synth-like</td></tr>
                                        <tr><td>IPR025895</td><td>LAM_C_dom</td></tr>
                                        <tr><td>IPR026322</td><td>Geopep_mat_rSAM</td></tr>
                                        <tr><td>IPR026332</td><td>HutW</td></tr>
                                        <tr><td>IPR026335</td><td>SAM_SPASM_FxsB</td></tr>
                                        <tr><td>IPR026344</td><td>SCM_rSAM_ScmE</td></tr>
                                        <tr><td>IPR026346</td><td>SCM_rSAM_ScmF</td></tr>
                                        <tr><td>IPR026357</td><td>rSAM/SPASM_prot_GRRM_system</td></tr>
                                        <tr><td>IPR026404</td><td>rSAM_w_lipo</td></tr>
                                        <tr><td>IPR026407</td><td>SAM_GG-Bacter</td></tr>
                                        <tr><td>IPR026412</td><td>rSAM_Cxxx_rpt</td></tr>
                                        <tr><td>IPR026423</td><td>rSAM_cobopep</td></tr>
                                        <tr><td>IPR026423</td><td>rSAM_cobopep</td></tr>
                                        <tr><td>IPR026426</td><td>rSAM_FibroRumin</td></tr>
                                        <tr><td>IPR026429</td><td>MIA_synthase</td></tr>
                                        <tr><td>IPR026447</td><td>B12_SAM_Ta0216</td></tr>
                                        <tr><td>IPR026482</td><td>rSAM_nif11_3</td></tr>
                                        <tr><td>IPR027492</td><td>RNA_MTrfase_RlmN</td></tr>
                                        <tr><td>IPR027526</td><td>Lipoyl_synth_chlpt</td></tr>
                                        <tr><td>IPR027527</td><td>Lipoyl_synth_mt</td></tr>
                                        <tr><td>IPR027564</td><td>HpnR_B12_rSAM</td></tr>
                                        <tr><td>IPR027570</td><td>GeoRSP_rSAM</td></tr>
                                        <tr><td>IPR027583</td><td>rSAM_ACGX</td></tr>
                                        <tr><td>IPR027586</td><td>rSAM_metal_mat</td></tr>
                                        <tr><td>IPR027596</td><td>AmmeMemoSam_rS</td></tr>
                                        <tr><td>IPR027604</td><td>W_rSAM_matur</td></tr>
                                        <tr><td>IPR027609</td><td>rSAM_QueE_Proteobac</td></tr>
                                        <tr><td>IPR027621</td><td>rSAM_QueE_gams</td></tr>
                                        <tr><td>IPR027633</td><td>rSAM_NirJ2</td></tr>
                                        <tr><td>IPR030801</td><td>Glu_2_3_NH3_mut</td></tr>
                                        <tr><td>IPR030837</td><td>B12_rSAM_cofa1</td></tr>
                                        <tr><td>IPR030896</td><td>rSAM_AhbD_hemeb</td></tr>
                                        <tr><td>IPR030905</td><td>CutC_activ_rSAM</td></tr>
                                        <tr><td>IPR030915</td><td>rSAM_SkfB</td></tr>
                                        <tr><td>IPR030933</td><td>Non_iron_rSAM</td></tr>
                                        <tr><td>IPR030969</td><td>B12_rSAM_trp_MT</td></tr>
                                        <tr><td>IPR030977</td><td>QueE_Cx14CxxC</td></tr>
                                        <tr><td>IPR030989</td><td>rSAM_XyeB</td></tr>
                                        <tr><td>IPR031003</td><td>BcpD_PhpK_rSAM</td></tr>
                                        <tr><td>IPR031012</td><td>rSAM_mob_pairB</td></tr>
                                        <tr><td>IPR031015</td><td>Arg_2_3_am_muta</td></tr>
                                        <tr><td>IPR031691</td><td>LIAS_N</td></tr>
                                        <tr><td>IPR031691</td><td>LIAS_N</td></tr>
                                        <tr><td>IPR032432</td><td>Radical_SAM_C</td></tr>
                                        <tr><td>IPR033971</td><td>Avilamycin_epimerase</td></tr>
                                        <tr><td>IPR033974</td><td>Glycerol_dehydratase_activase</td></tr>
                                        <tr><td>IPR033975</td><td>ThnP-like</td></tr>
                                        <tr><td>IPR033976</td><td>GntE-like</td></tr>
                                        <tr><td>IPR034165</td><td>NifB_C</td></tr>
                                        <tr><td>IPR034386</td><td>BtrN-like</td></tr>
                                        <tr><td>IPR034391</td><td>Cmo-like_SPASM_containing</td></tr>
                                        <tr><td>IPR034405</td><td>F420</td></tr>
                                        <tr><td>IPR034422</td><td>HydE/PylB-like</td></tr>
                                        <tr><td>IPR034428</td><td>ThiH/NoCL/HydG-like</td></tr>
                                        <tr><td>IPR034436</td><td>NocN/NosN-like</td></tr>
                                        <tr><td>IPR034438</td><td>4-hPhe_decarboxylase_activase</td></tr>
                                        <tr><td>IPR034457</td><td>Organic_radical-activating</td></tr>
                                        <tr><td>IPR034462</td><td>Benzylsuc_synthase_activase</td></tr>
                                        <tr><td>IPR034465</td><td>Pyruvate_for-lyase_activase</td></tr>
                                        <tr><td>IPR034466</td><td>Methyltransferase_Class_B</td></tr>
                                        <tr><td>IPR034471</td><td>7_8-dihydro-6-hydroxymethylpte</td></tr>
                                        <tr><td>IPR034474</td><td>Methyltransferase_Class_D</td></tr>
                                        <tr><td>IPR034479</td><td>AhbC-like</td></tr>
                                        <tr><td>IPR034480</td><td>Heme_carboxy_lyase-like</td></tr>
                                        <tr><td>IPR034485</td><td>Anaerobic_Cys-type_sulfatase-m</td></tr>
                                        <tr><td>IPR034491</td><td>Anaerob_Ser_sulfatase-maturase</td></tr>
                                        <tr><td>IPR034497</td><td>Bacteriochlorophyll_C12_MT</td></tr>
                                        <tr><td>IPR034498</td><td>Bacteriochlorophyll_C8_MT</td></tr>
                                        <tr><td>IPR034505</td><td>Coproporphyrinogen-III_oxidase</td></tr>
                                        <tr><td>IPR034508</td><td>Spectinomycin_biosynthesis</td></tr>
                                        <tr><td>IPR034514</td><td>ThnK-like</td></tr>
                                        <tr><td>IPR034515</td><td>ThnL-like</td></tr>
                                        <tr><td>IPR034529</td><td>Fom3-like</td></tr>
                                        <tr><td>IPR034530</td><td>HpnP-like</td></tr>
                                        <tr><td>IPR034531</td><td>Methylation_of_yatakemycin</td></tr>
                                        <tr><td>IPR034534</td><td>Pyrimidine_methyltransferase</td></tr>
                                        <tr><td>IPR034547</td><td>Tte1186a_maturase</td></tr>
                                        <tr><td>IPR034556</td><td>tRNA_wybutosine-synthase</td></tr>
                                        <tr><td>IPR034557</td><td>ThrcA_tRNA_MEthiotransferase</td></tr>
                                        <tr><td>IPR034559</td><td>Spore_PP_lysase_Clostridia</td></tr>
                                        <tr><td>IPR034560</td><td>Spore_PP_lysase_Bacilli</td></tr>
                                        <tr><td>IPR034687</td><td>ELP3-like</td></tr>
                                        <tr><td>IPR038135</td><td>Methylthiotransferase_N_sf</td></tr>
                                        <tr><td>IPR039661</td><td>ELP3</td></tr>
                                        <tr><td>IPR039661</td><td>ELP3</td></tr>
                                        <tr><td>IPR040063</td><td>QhpD-like/Tte1186a</td></tr>
                                        <tr><td>IPR040072</td><td>Methyltransferase_A</td></tr>
                                        <tr><td>IPR040074</td><td>BssD/PflA/YjjW</td></tr>
                                        <tr><td>IPR040081</td><td>CndI-like</td></tr>
                                        <tr><td>IPR040082</td><td>GenK-like</td></tr>
                                        <tr><td>IPR040085</td><td>MJ0674-like</td></tr>
                                        <tr><td>IPR040086</td><td>MJ0683-like</td></tr>
                                        <tr><td>PF13186</td><td>SPASM</td></tr>
                                    </tbody>
                                </table>

