
                    <div>
                        <p>
                        With its large number of sequences, the RSS requires a large-scale approach for identifying subgroups with related functions.
                        Following the strategy used by the SFLD, we generated the SSN for the RSS using UniRef50 cluster IDs and then segregated it
                        into clusters, some defining the 20 SFLD-curated subgroups and others defining uncharacterized sequences.  In this section, we
                        describe our procedure for identifying subgroups.
                        </p>
                        <p>
                        Given the large numbers of sequences and SSN clusters, we cannot guarantee that the subgroup segregation is "perfect".
                        Indeed, we expect that it is not. However, the identified subgroups provide manageable starting points for the discovery of
                        novel functions using EFI-EST, EFI-GNT, and EFI-CGFP.  
                        </p>

                        <ul class="nav nav-tabs nav-intro-tabs" id="subgroups_subtabs" role="tablist">
                            <li class="nav-item"><a href="#subgroup_ident" id="tab-subgroup_ident" class="nav-link active" data-toggle="tab" role="tab">SUBGROUP IDENTIFICATION</a></li>
                            <li class="nav-item"><a href="#subgroup_mega1" id="tab-subgroup_mega1" class="nav-link" data-toggle="tab" role="tab">MEGACLUSTER-1</a></li>
                            <li class="nav-item"><a href="#subgroup_mega2" id="tab-subgroup_mega2" class="nav-link" data-toggle="tab" role="tab">MEGACLUSTER-2</a></li>
                            <li class="nav-item"><a href="#subgroup_mega3" id="tab-subgroup_mega3" class="nav-link" data-toggle="tab" role="tab">MEGACLUSTER-3</a></li>
                            <li class="nav-item"><a href="#subgroup_mega4" id="tab-subgroup_mega4" class="nav-link" data-toggle="tab" role="tab">MEGACLUSTER-4</a></li>
                            <li class="nav-item"><a href="#subgroup_mega5" id="tab-subgroup_mega5" class="nav-link" data-toggle="tab" role="tab">MEGACLUSTER-5</a></li>
                            <li class="nav-item"><a href="#subgroup_clusters" id="tab-subgroup_clusters" class="nav-link" data-toggle="tab" role="tab">CLUSTERS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="subgroup_ident" role="tabpanel">
                                <h5>Subgroup Identification</h5>

                                <p>
                                Using an alignment score of 11 that groups UniRef50 clusters into identifiable SFLD subgroups and minimizes the number
                                of singletons (visual inspection), the SSN contains 50,232 nodes and 41,476,118 edges.  We used a Mac Pro desktop
                                computer with 768 GB RAM to visualize and manipulate the SSN using Cytoscape 3.8.2. 
                                </p>
                                
                                <img src="img/intro/subgroup_full_ssn.png">

                                <p>
                                The large cluster (50,084 nodes and 41,476,016 edges) was selected for identification of the subgroups. 
                                </p>

                                <img src="img/intro/subgroup_single_cluster.png">
                                 
                                <p>
                                The nodes associated with SFLD subgroups were identified by coloring the nodes according to the InterPro family
                                (F)/domain (D) that includes the SFLD subgroup (Table 1); the node colors for the SFLD-curated subgroups are those
                                used by the SFLD.  Clusters associated with four additional families/domains described by InterPro were also colored.
                                </p>

                                <p class="text-center">
                                <table class="table table-sm w-75">
                                    <thead>
                                        <th>Subgroup</th><th>Subgroup Name</th><th>IPR #</th><th>Color</th>
                                    </thead>
                                    <tbody>
                                        <tr><td>1</td><td>7-carboxy-7-deazaguanine synthase-like (F)</td><td>IPR024924</td><td>Teal</td></tr>
                                        <tr><td>2</td><td>Coproporphyrinogen III oxidase-like (F)</td><td>IPR034505</td><td>Red</td></tr>
                                        <tr><td>3</td><td>Antiviral proteins (viperin) (F)</td><td>--</td><td>--</td></tr>
                                        <tr><td>4</td><td>Avilamycin synthase (F)</td><td>IPR033971</td><td>Pink</td></tr>
                                        <tr><td>5</td><td>B12-binding domain containing (D)</td><td>IPR006158</td><td>Blue</td></tr>
                                        <tr><td>6</td><td>BATS domain containing (D)</td><td>IPR010722</td><td>Orange</td></tr>
                                        <tr><td>7</td><td>DesII-like (F)</td><td>IPR016863</td><td>Mauve</td></tr>
                                        <tr><td>8</td><td>ELP3/YhcC (F)</td><td>IPR039661</td><td>Black</td></tr>
                                        <tr><td>9</td><td>F420, menaquinone cofactor biosynthesis (F) </td><td>IPR034405</td><td>Purple</td></tr>
                                        <tr><td>10</td><td>FeMo-cofactor biosynthesis protein (F)</td><td>IPR005980</td><td>Mint green</td></tr>
                                        <tr><td>11</td><td>Lipoyl synthase like (F)</td><td>IPR003698</td><td>Yellow</td></tr>
                                        <tr><td>12</td><td>Methylthiotransferase (D)</td><td>IPR013848</td><td>Verdun green</td></tr>
                                        <tr><td>13</td><td>Methyltransferase Class A (F)</td><td>IPR040072</td><td>Dark brown</td></tr>
                                        <tr><td>14</td><td>Methyltransferase Class D (F)</td><td>IPR034474</td><td>Light pink</td></tr>
                                        <tr><td>15</td><td>Organic radical activating enzymes (F)</td><td>IPR034457</td><td>Cyan</td></tr>
                                        <tr><td>16</td><td>PLP-dependent (F)</td><td>IPR003739</td><td>Dark green</td></tr>
                                        <tr><td>17</td><td>SPASM/twitch domain containing (D)</td><td>IPR023885</td><td>Magenta</td></tr>
                                        <tr><td>18</td><td>Spectinomycin biosynthesis (F)</td><td>IPR034508</td><td>White</td></tr>
                                        <tr><td>19</td><td>Spore photoproduct lyase (F)</td><td>IPR023897</td><td>Green</td></tr>
                                        <tr><td>20</td><td>tRNA wybutosine-synthesizing (F)</td><td>IPR034556</td><td>Brown</td></tr>
                                        <tr><td></td><td>Protein MJ0683-like (F)</td><td>IPR040086</td><td>Electric lime</td></tr>
                                        <tr><td></td><td>Uncharacterized protein family UPF0313 (F)</td><td>IPR022946</td><td>Olive</td></tr>
                                        <tr><td></td><td>DUF5131 (F)</td><td>IPR011101</td><td>Light purple</td></tr>
                                        <tr><td></td><td>3',8-Cyclase/Mo cofactor synthesis (D)</td><td>IPR010505</td><td>Dodger blue</td></tr>
                                    </tbody>
                                </table>
                                </p>

                                <p>
                                In contrast to the SFLD's SSN (Background tab), the clusters containing the subgroups are not separated in this SSN (a
                                single cluster!), the result of both the larger number of nodes and the choice of a smaller alignment score to both
                                prevent splitting SFLD subgroups into multiple clusters and, also, reduce the number of singletons (the SFLD used an
                                edge threshold of 1e-20). 
                                </p>

                                <p>
                                The SFLD subgroups were separated by selection/deletion of "long" SSN edges ("remote" sequence relationships). This
                                editing is subjective, but we know of no other practical strategy to separate the subgroups. That 1) the nodes
                                associated with the various subgroups colocalize in the starting SSN and 2) their colocalization is maintained in the
                                editing supports the validity of this approach. 
                                </p>

                                <p>
                                In several of the SFLD subgroups, some nodes are grey because they are not recognized by the HMMs used by InterPro
                                (many of the HMMs were generated when the RSS was significantly smaller/less diverse).  As a result, the InterPro
                                families (and their HMMs) cannot be used to provide the members of the subgroups.
                                </p>

                                <p>
                                The nodes associated with either SFLD Subgroup 5, B12-binding domain (blue nodes), or SFLD Subgroup 17,
                                SPASM/Twitch-domain (magenta nodes), are not colocalized in a "spherical", well-organized cluster because the
                                sequence-function space is more diverse than that for the other subgroups.  As described in the Functionally Diverse
                                Subgroups tab, RadicalSAM.org provides a strategy to identifying isofunctional clusters in these subgroups. 
                                </p>

                                <p>
                                The resulting "edge-edited" SSN contained 10 clusters, five "megaclusters" containing multiple SFLD subgroups
                                [(mega)clusters are numbered in order of decreasing number of UniRef50 IDs/nodes,1 through 5] and five clusters
                                containing a single SFLD subgroup or InterPro family (numbered in order of decreasing UniRef50 IDs/nodes, 6 through
                                10).
                                </p>

                                <img src="img/intro/subgroup_split_master_ssn.png">

                                <p>
                                As described in the tabs, Megaclusters-1, -2, -3, -4, and -5 were segregated into component subgroups.
                                </p>


                            </div>
                            <div class="tab-pane fade" id="subgroup_mega1" role="tabpanel">
                                Megacluster-1 contains five SFLD subgroups:  Subgroup 17 (SPASM/Twitch domain, Megacluster-1-1, magenta nodes);
                                Subgroup 14 (methyltransferase D, Megacluster-1-3, pink nodes); Subgroup 10 (FeMo-cofactor, Megacluster-1-4, pale
                                green nodes); Subgroup 3 (viperin, Megacluster-1-5; grey nodes because InterPro does not curate this subgroup); and
                                Subgroup 7 (DesII-like, Megacluster-1-8; pale magenta nodes).  
                                </p>

                                <p>
                                Megacluster-1 also contains the large GTP 3’,8-cyclase family (Megacluster-1-2; "Dodger blue" nodes).  The sequences
                                in Megaclusters-1-2, -1-3, -1-4, and 1-5 were identified as discrete clusters in the UniRef50 SSN for Megacluster-1
                                generated with an alignment score 30; these were removed from Megacluster-1 to generate the SSN for Subgroup 17
                                (SPASM/Twitch domain; Megacluster-1-1; magenta nodes).  
                                </p>

                                <p>
                                Two uncharacterized clusters "loosely" connected to Megacluster-1 were segregated by manual edge deletion
                                (Megacluster-1-6 and Megacluster-1-7; grey nodes).  Megacluster-1-6 contains the Swiss-Prot curated ]methyl-coenzyme M
                                reductase subunit alpha]-arginine C-methyltransferase function.
                                </p>

                                <p>
                                The UniRef50 SSN for the resulting Megacluster-1-1 is displayed below.  
                                </p>
                                 
                                <img src="img/intro/subgroup_mega11.png">

                                <p>
                                The UniRef50 SSN for the additional four SFLD subgroups, GTP 3’,8-cyclases, and loosely connected clusters is
                                displayed below (generated with an alignment score of 18 and edge-edited).
                                </p>

                                <img src="img/intro/subgroup_mega1.png">

                            </div>
                            <div class="tab-pane fade" id="subgroup_mega2" role="tabpanel">
                                <p>
                                Megacluster-2 contains four SFLD subgroups:  Subgroup 5 (B12-binding domain, Megacluster-2-1, blue nodes); Subgroup 2
                                (Coproporphyrinogen III oxidase-like, Megacluster-2-2, red nodes), Subgroup 12 (Methylthiotransferase,
                                Megacluster-2-3, Verdun green nodes); and Subgroup 8 (Elongator protein 3, Megaclusters-2-4 and -2-5, black nodes).  
                                </p>

                                <p>
                                The UniRef50 SSN for Megacluster-2 was generated with an alignment score of 14 (increase from the initial alignment
                                score of 11); the "long" edges were deleted to segregate the clusters/subgroups.  The clusters are numbered in order
                                of decreasing number of UniRef50 IDs/nodes. 
                                </p>
                                
                                <img src="img/intro/subgroup_mega2_all.png">
                                <img src="img/intro/subgroup_mega2_split.png">
                                
                                <p> 
                                Megacluster-2-4 was segregated into subclusters as indicated on the Explore page for the cluster.  
                                </p>

                            </div>
                            <div class="tab-pane fade" id="subgroup_mega3" role="tabpanel">
                                <p>
                                Megacluster-3 contains two SFLD subgroups:  Subgroup 1 (7-carboxy-7-deazaguanine synthase-like, Megacluster-3-1, teal
                                nodes) and Subgroup 2 (Organic radical activating enzymes, Megacluster-3-2; cyan nodes).
                                </p>

                                <p>
                                The UniRef90 IDs in Megacluster-3 were used to generate the SSN with an alignment score of 20 (increase from the
                                initial alignment score of 11); the "long" edges were deleted to segregate the clusters/subgroups.  The increase in
                                node resolution to UniRef90 ensures that the subclusters obtained from "edge-editing" will be isofunctional.  The
                                clusters are numbered in order of decreasing number of UniRef90 IDs/nodes. 
                                </p>

                                <img src="img/intro/subgroup_mega3.png">
                                <img src="img/intro/subgroup_mega3_split.png">

                                <p>
                                Where indicated on their Explore pages, several of Mega-3-N clusters were further segregated so that different
                                SwissProt functions are located in distinct subclusters.
                                </p>

                            </div>
                            <div class="tab-pane fade" id="subgroup_mega4" role="tabpanel">
                                <p>
                                Megacluster-4 contains two SFLD subgroups:  Subgroup 10 (F420, menaquinone cofactor biosynthesis, Megacluster-4-1;
                                purple nodes) and Subgroup 6 (BATS domain containing, Megaclusters-4-2, -4-3, -4-5, and -4-10, orange nodes).
                                </p>

                                <p>
                                The UniRef90 IDs in Megacluster-4 were used to generate the SSN with an alignment score of 22 (increase from the
                                initial alignment score of 11); the "long" edges were deleted to segregate the clusters/subgroups.  The increase in
                                node resolution to UniRef90 ensures that the subclusters obtained from "edge-editing" will be isofunctional.  The
                                clusters are numbered in order of decreasing number of UniRef90 IDs/nodes. 
                                </p>

                                <img src="img/intro/subgroup_mega4.png">
                                <img src="img/intro/subgroup_mega4_split.png">

                                <p>
                                Where indicated on their Explore pages, several of Mega-4-N clusters were further segregated so that different
                                SwissProt functions are located in distinct subclusters.
                                </p>

                            </div>
                            <div class="tab-pane fade" id="subgroup_mega5" role="tabpanel">
                                <p>
                                Megacluster-5 contains one SFLD subgroup and two additional InterPro families:  Protein MJ0683-like
                                (Megacluster-5-1,electric lime nodes); DUF5131 (Megacluster-5-2; light purple nodes), and Subgroup 19 (Spore
                                photoproduct lyase, Megacluster-5-3, green nodes).
                                </p>

                                <p>
                                The UniRef50 SSN for Megacluster-5 was generated with an alignment score of 14 (increase from the initial alignment
                                score of 11); the "long" edges were deleted to segregate the clusters/subgroups.  The clusters are numbered in order
                                of decreasing number of UniRef50 IDs/nodes. 
                                </p>
                                
                                <img src="img/intro/subgroup_mega5.png">
                                <img src="img/intro/subgroup_mega5_split.png">

                            </div>
                            <div class="tab-pane fade" id="subgroup_clusters" role="tabpanel">
                                <p>
                                Four clusters each contained one SFLD subgroup and the fifth contained one InterPro family:  Subgroup 13
                                (Methyltransferase Class A, Cluster-6, dark brown nodes); Subgroup 16 (PLP-dependent, Cluster-7, dark green nodes);
                                Subgroup 11 (Lipoyl synthase like, Cluster-8, yellow nodes); Subgroup 19 (tRNA wybutosine-synthesizing, Cluster-9,
                                brown nodes); and UPF0313 (Cluster-10, olive nodes).
                                </p>

                                <p>
                                These clusters were used without further editing. The clusters are numbered in order of decreasing number of UniRef50
                                IDs/nodes. 
                                </p>

                                <img src="img/intro/subgroup_other_clusters.png">

                            </div>
                        </div>

                    </div> 

